@import "base/reset";
@import "base/fonts";
@import "../node_modules/slick-carousel/slick/slick.scss";
@import "../node_modules/magnific-popup/dist/magnific-popup";
@import "../node_modules/select2/src/scss/core.scss";
@import "base/common";


.header{
    position: fixed;
    width: 100%;
    z-index: 1008;
    background: #f4c038;
    height:83px;
    @include respond-to(mobile){
        height:53px;
    }
    &.sticky{
        background: #f4c038;
        box-shadow: 1px 2px 15px rgba(162, 117, 0, 0.45);
    }
    &__logo-wrapper{
        padding-top: 17px;
        padding-left: 111px;
        float: left;
        @include respond-to(mobile){
            padding-top: 9px;
            padding-left: 14px;
            img{
                width: 58px;
            }
        }
    }
    &__logo{
        display: inline-block;
    }
    &__menu{
        float: left;
        margin-left: 414px;
    }
    .menu{
        padding-top: 10px;
        &__item{
            padding: 3px 22px 15px;
            color: #ffffff;
            font-size: 18px;
            font-weight: 300;
            display: inline-block;
            position: relative;
            cursor: pointer;
            &:after {
                cursor: pointer;
                position : absolute;
                right : 8px;
                top : 15px;
                content : '';
                width : 8px;
                height : 4px;
                display : block;
                transition : all 0.2s ease-out;
                background: url("../img/icon-dropdown.svg") center center no-repeat transparent;
            }
            &:hover{
                &:after {
                    transform: rotate(180deg);
                }
                .submenu{
                    display: inline-block;
                }
            }
        }
        &__link{
            &.active{
                color: #333;
            }
            &:hover{
                color: #fa5800;
            }
        }
        .submenu{
            z-index: 4;
            transition: 0.3s;
            position: absolute;
            top: 35px;
            left: 25px;
            display: none;
            background: #fff;
            box-shadow: 0 2px 5px rgba(177, 128, 0, 0.75);
            border-radius: 4px;
            padding: 5px 27px 9px 29px;
            &__item{
                display: block;
                color: #f4c038;
                font-size: 18px;
                font-weight: 300;
                line-height: 34px;
                margin: 10px 0;
                white-space: nowrap;
            }

        }
    }
    &__phone{
        float: left;
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        margin-left: 52px;
        padding-top: 13px;
    }
    &__icons{
        float: left;
        padding-top: 8px;
        padding-left: 24px;
        @include respond-to(mobile){
            float: right;
            margin-right: 19px;
        }
    }
}

.slider{
    background: #f4c038;
    background-size: cover;
    position: relative;
    padding-bottom: 20px;
    @include respond-to(mobile){
        overflow: hidden;
        background: -moz-linear-gradient(top, #f4c038 0%, #f4c038 85%, #ffffff 89%, #ffffff 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #f4c038 0%,#f4c038 85%,#ffffff 89%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #f4c038 0%,#f4c038 85%,#ffffff 89%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    &__container{
        background-size: cover;
        height: 790px;
        padding-top: 100px;
        @include respond-to(mobile){
            padding-top: 70px;
            height: 980px;
        }
    }
    &__mask{
        position: absolute;
        bottom: -1px;
        @include respond-to(mobile){
            display: none;
        }
    }
    &__title{
        @include respond-to(mobile){
            padding:0 6px;
            text-align: left;
        }
    }
    .slide{
        position: relative;
        overflow: hidden;
        &__img{
            position: relative;
            margin-top: 97px;
            margin-left: 141px;
            @include respond-to(mobile){
                margin-top: 117px;
                margin-left: 0;
                display: inline-block;
                max-width: 100%;
            }
        }
        &__quote{
            color: #ffffff;
            font-family: "Proxima Nova";
            font-size: 17px;
            font-weight: 300;
            line-height: 24px;
            position: absolute;
            @include respond-to(mobile){
                display: none;
            }
            &--1{
                padding: 18px 0 0 30px;
                left: 424px;
                top: 35px;
                width: 297px;
                height: 129px;
                background: url(../img/slider-quote-1.svg) top left no-repeat;
                background-size: 100%;
                z-index: 0;
                @include respond-to(mobile){
                    display: block;
                    left: 10px;
                    background: url(../img/quote-mobile.svg) top left no-repeat;
                    padding: 11px 0 0 24px;
                    top: 10px;
                    width: 291px;
                    height: 108px;
                    font-size: 15px;
                    line-height: 1.2;
                    padding-right: 16px;
                }


            }
            &--2{
                left: 704px;
                top: 47px;
                width: 304px;
                height: 134px;
                padding: 27px 0 0 46px;
                background: url("../img/slider-quote-2.svg") top left no-repeat;
                z-index: 2;
            }
            &--3{
                left: 492px;
                top: 138px;
                width: 308px;
                height: 95px;
                padding: 20px 0px 0 20px;
                background: url(../img/slider-quote-3.svg) top left no-repeat;
                background-size: 100%;
                z-index: 3;
            }
        }
        &--1{
            .slide__quote--1{
                padding: 24px 21px 0 30px;
                left: 719px;
                top: 8px;
                width: 351px;
                height: 137px;
                background: url(../img/2-contur.svg) top left no-repeat;
                background-size: 100%;
                z-index: 3;
                @include respond-to(mobile){
                    display: block;
                    left: 10px;
                    background: url(../img/quote-mobile.svg) top left no-repeat;
                    padding: 11px 0 0 24px;
                    top: 10px;
                    width: 291px;
                    height: 108px;
                    font-size: 15px;
                    line-height: 1.2;
                    padding-right: 16px;
                }
            }

            .slide__quote--2{
                padding: 21px 8px 0 21px;
                left: 451px;
                top: 133px;
                width: 297px;
                height: 129px;
                background: url(../img/3-contur.svg) top left no-repeat;
                background-size: auto auto;
                z-index: 2;
            }
            .slide__quote--3{
                padding: 18px 0 10px 30px;
                left: 424px;
                top: 35px;
                width: 297px;
                height: 129px;
                background: url(../img/1-contur.svg) top left no-repeat;
                background-size: 100%;
                z-index: 0;
            }
        }
        &--3{
            .slide__quote--3{
                top: 150px;
            }
        }
        &--4{
            .slide__quote--1{
                padding: 24px 0 0px 50px;
                left: 533px;
                top: 117px;
                width: 357px;
                height: 9pc;
                background: url(../img/8-contur.svg) top left no-repeat;
                background-size: cover;
                z-index: 1;
                @include respond-to(mobile){
                    display: block;
                    left: 10px;
                    background: url(../img/quote-mobile.svg) top left no-repeat;
                    padding: 11px 0 0 24px;
                    top: 10px;
                    width: 291px;
                    height: 108px;
                    font-size: 15px;
                    line-height: 1.2;
                    padding-right: 16px;
                }
            }
            .slide__quote--3{
                padding: 20px 0 0px 31px;
                left: 422px;
                top: 47px;
                width: 328px;
                height: 111px;
                background: url(../img/7-contur.svg) top left no-repeat;
                background-size: auto auto;
                z-index: 1;
            }
        }
    }

    &__consultation{
        width: 458px;
        height: 261px;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        background: url(../img/consultation-bg.svg) left top no-repeat transparent;
        background-size: 100%;
        position: absolute;
        top: 441px;
        left: 546px;
        padding: 50px 0 0 80px;
        @include respond-to(mobile){
            top: 43pc;
            left: -70px;
        }
    }
    .consultation{
        &__text{
            width: 308px;
            height: 63px;
            color: #000000;
            strong{
                font-weight: 400;
            }
        }
        &__btn{
            margin-top: 28px;
        }


    }
}
/* Internet Explorer 11+ */
_:-ms-fullscreen, :root .slider .slide--1 .slide__quote--2 { padding: 39px 7px 0 20px;}

/* Internet Explorer 10+ */
_:-ms-lang(x), .slider .slide--1 .slide__quote--2 { padding: 39px 7px 0 20px;}

/* Internet Explorer 9+ */
_::selection, .slider .slide--1 .slide__quote--2 { padding: 39px 7px 0 20px;}

.services{
    margin-bottom: 70px;
    padding-top: 96px;
    &__container{
        padding: 0 calc(180px - 31px) 0;
        @include respond-to(mobile){
            padding: 0 0px;
        }
    }
    &__header{
        margin-bottom: 13px;
    }

    .service{

        display: block;
        text-decoration: none;
        border-radius: 4px;
        padding: 33px 59px 29px 35px;
        margin: 32px 30.5px;
        float: left;
        width: 390px;
        height: 286px;
        box-shadow: 0 5px 25px rgba(221, 221, 221, 0.7);
        background-color: #ffffff;
        transition: 0.3s;
        &:hover{
            transform: scale(1.03);
        }
        @include respond-to(mobile){
            float:none;
            margin: 25px auto;
            width: 290px;
            height: 246px;
            padding: 30px 15px 29px 15px;
        }
        &__img-wrapper{
            height: 45px;
            text-align: left;
        }
        &__img{
            max-height: 45px;
            max-width: 45px;
        }
        &__title{
            color: #000000;
            font-size: 22px;
            font-weight: 400;
            margin-top: 31px;
            @include respond-to(mobile){
                font-size: 20px;
            }
        }
        &__description{
            color: #000000;
            font-size: 18px;
            font-weight: 300;
            line-height: 24px;
            margin-top: 12px;
            @include respond-to(mobile){
                font-size: 16px;
                font-weight: 300;
                line-height: 22px;
            }
        }
        &__link-wrapper{
            margin-top: 20px;
            padding-top: 28px;
            @include respond-to(mobile){
                padding-top: 0;
            }
        }
        &__link{
            color: #f4c038;
            font-size: 18px;
            font-weight: 300;
        }
    }
}

.questionary{
    height: 416px;
    box-shadow: 0 5px 25px hsla(0,0%,87%,.7);
    background: url(../img/questionary-bg.svg) -46px top no-repeat #fff;
    margin: 2pc 30.5px;
    overflow: hidden;
    border-radius: 4px;
    background-size: contain;
    @include respond-to(mobile){
        height: auto;
        padding-bottom: 40px;
        margin: 25px auto;
        border-radius: 0;
        background: url(../img/questionary-mob-bg.svg) center top no-repeat #fff;
        .col{
            float:none;
            width: 100%;
        }
    }
    .form__group{
        margin:7px 0;
    }
    &.small{
        background: url(../img/questionary-bg.svg) -180px top no-repeat #fff ;
        background-size: contain;
        @include respond-to(mobile){
            background: url(../img/questionary-mob-bg.svg) center top no-repeat #fff;
            .col{
                float:none !important;
                width: 100%  !important;
            }
        }
        .questionary__back-wrapper{
            display: block;
        }
        .questionary__description{
            display: none;
        }
        .col{
            &:first-of-type{
                width: 33%;
            }
            &:last-of-type{
                width: 67%;
            }
        }
    }
    &__back-wrapper{
        display: none;
        padding-top: 117px;
        @include respond-to(mobile){
            padding-top: 51px;
        }
        .back{
            color: #fff;
        }
    }
    &__text{
        padding-top: 77px;
        padding-left: 46px;
        @include respond-to(mobile) {
            padding-top: 50px;
            padding-left: 23px;

        }
    }
    &__header{
        color: #ffffff;
        font-size: 32px;
        font-weight: 400;
        line-height: 40px;
        @include respond-to(mobile) {
            font-size: 28px;
        }
    }
    &__description{
        color: #ffffff;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        margin-top: 18px;
        @include respond-to(mobile) {
            font-size: 16px;
            line-height: 22px;
        }
    }
    &__form{
        padding: 51px 0 0 44px;
        @include respond-to(mobile){
            padding: 68px 0 0 14px;
        }
    }
    &__step{
        color: #000000;
        font-size: 14px;
        font-weight: 300;
        line-height: 50px;
    }
    .step{
        display: none;

        &.active{
            display: block;
        }
        &--6{
            padding-top: 77px;
            height: 100vh;
            text-align: center;
            background: #f4c038;
            .step__header{
                font-weight: 400;
                font-size: 32px;
                color: #fff;
                margin-bottom: 15px;
            }
            .step__description{
                font-size: 22px;
                color: #fff;
                margin-bottom: 20px;
            }
        }
    }
    &__question{
        color: #000000;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
    }

    &__success{
        font-weight: 400;
        font-size: 32px;
        color: #fff;
        background: #f4c038;
        padding-top: 150px;
        height: 100vh;
        text-align: center;
        display: none;
        &-title{
            line-height: 40px;
            font-size: 32px;
        }
        &-description{
            font-size: 22px;
            line-height: 30px;
        }
    }

}

.schema{
    background-color: #f6f6f6;
    padding-top: 72px;
    padding-bottom: 200px;
    @include respond-to(mobile){
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.digits{
    &--index{
        padding-bottom: 169px;
        @include respond-to(mobile){
            padding-bottom: 40px;
        }
    }
    @include respond-to(mobile){
        .row--2{
            display: flex;
            flex-direction: column-reverse;
        }
    }
    &__digit{
        position: relative;
        &--1{
            padding: 166px 0 100px 145px;/*145px*/
            background: url("../img/digits-1-bg.svg") 115px 98px no-repeat #fff;
            @include respond-to(mobile){
                padding:  73px 0 73px 22px;
                background: url(../img/digits-1-bg.svg) 10px 6px no-repeat #fff;
                background-size: 60%;
            }
            .value-description{
                position: absolute;
                top: 233px;
                left: 348px;
                color: #000000;
                font-size: 22px;
                font-weight: 300;
                @include respond-to(mobile){
                    top: 115px;
                    left: 167px;
                    font-size: 16px;
                }
            }
        }
        &--2{
            padding: 166px 0 110px;
            background: url(../img/digits-2-bg.svg) left 175px no-repeat #fff;
            @include respond-to(mobile){
                padding: 73px 0 73px 5px;
                background: url(../img/digits-2-bg.svg) 10px 49px no-repeat #fff;
                background-size: 68%;
            }
            .value-description{
                position: absolute;
                top: 235px;
                left: 266px;
                color: #000000;
                font-size: 22px;
                font-weight: 300;
                @include respond-to(mobile){
                    top: 115px;
                    left: 195px;
                    font-size: 16px;
                }
            }
        }
        &--projects{
            padding: 86px 0 138px 197px;
            background: url(../img/digits-projects-bg.svg) 236px 45px no-repeat #fff;
            @include respond-to(mobile){
                padding: 79px 0 138px 20px;
                background: url(../img/digits-projects-bg.svg) 20px 45px no-repeat #fff;
            }
            .value-description{
                position: absolute;
                top: 85px;
                left: 407px;
                color: #000;
                font-size: 18px;
                font-weight: 300;
                @include respond-to(mobile){
                    position: absolute;
                    top: 78px;
                    color: #000;
                    font-size: 18px;
                    font-weight: 300;
                    left: 168px;
                }
            }
        }
    }
    &__text{
        padding: 110px 66px 0 66px;
        @include respond-to(mobile){
            padding: 10px 15px;
        }
    }
    &__header{
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 10px;
    }
    &__description{
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        @include respond-to(mobile){
            font-size: 16px;
            line-height: 22px;
        }
    }
    &__value{
        font-size: 160px;
        font-weight: 400;
        line-height: 0.8;
        @include respond-to(mobile){
            font-size: 114px;
        }
        .percent{
            font-size: 60px;
            vertical-align: top;
            margin-left: -39px;
            @include respond-to(mobile){
                font-size: 40px;
                margin-left: -26px;
            }
        }
    }
}

.catch{
    //background: url("../img/catch-bg.svg") top center no-repeat #fff ;
    //background-size: cover;
    //padding: 137px 0 84px;
    position: relative;
    overflow: hidden;
    &__bg{
        @include respond-to(mobile){
            width: 300%;
            margin-left: -100%;
        }
    }
    &__content{
        position: absolute;
        left: 0;
        right: 0;
        top: 40%;
        text-align: center;
        width: 100%;
        z-index: 4;
        @include respond-to(mobile){
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            text-align: center;
            width: 100%;
            z-index: 3;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    &__text{
        width: 588px;
        height: 49px;
        color: #ffffff;
        font-size: 22px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 29px;
        text-align: center;
        display: inline-block;
        @include respond-to(mobile){
            width: 100%;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            br{
                display: none;
            }
        }
    }
}

.partners{
    padding-top: 56px;
    padding-bottom: 56px;
    &__header{
        color: #000000;
        font-size: 22px;
        font-weight: 400;
        text-align: center;
    }
    &__row{
        padding: 35px 218px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        display: -ms-flexbox;
        -ms-flex-pack: center;
        @include respond-to(mobile){
            padding: 20px 0;
        }
    }
    &__logos{
        padding-top: 35px;
        @include respond-to(mobile){
            text-align: center;
        }
    }
    &__logo{
        max-width: 40%;
        &--fw{
            max-width: 100%;
        }
    }
}

.big-cert{
    background: url("../img/promo-bg.svg") no-repeat bottom center #fff;
    background-size: cover;
    &__container{
        background-size: cover;
        height: 744px;
        padding-top: 100px;
        @include respond-to(mobile){
            h1{
                padding: 0 12px;
            }
        }
    }
    &__row{
        @include respond-to(mobile){
            display: flex;
            flex-direction: column-reverse;
        }
    }
    &__img{
        margin-top: 32px;
        margin-left: 196px;
        float: left;
        @include respond-to(mobile){
            margin: 0 auto;
            float: none;
            max-width: 100%;
        }
    }
    &__text-wrapper{
        display: block;
        width: 253px;
        float: left;
        padding-top: 76px;
        margin-left: -25px;
        @include respond-to(mobile){
            width: 100%;
            float: none;
            margin-left: 0;
            padding-left: 15px;
            padding-top: 26px;
        }
    }
    &__header{
        color: #ffffff;
        font-size: 22px;
        font-weight: 400;
        line-height: 30px;
        @include respond-to(mobile){
            font-size: 15px;
            font-weight: 400;
            line-height: 30px;
        }

    }
    &__advantages{
        padding-top: 11px;
    }
    &__advantage{
        color: #ffffff;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        margin: 20px 0;
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            /* IE10 IE11 */
            margin: 0;
        }
        @include respond-to(mobile){
            float: none;
            margin-left: 0px;
            font-size: 15px;
            display: flex;
            flex-direction: row;
            p{
                margin-left: 15px;
            }
        }
    }

    /* Internet Explorer 11+ */
    _:-ms-fullscreen, :root .big-cert__advantage { margin: -5px 0; }

    /* Internet Explorer 10+ */
    _:-ms-lang(x), .big-cert__advantage { margin: -5px 0; }

    /* Internet Explorer 9+ */
    _::selection, .big-cert__advantage { margin: -5px 0; }

    &__advantage-icon{
        height: 50px;
        width: 50px;
        margin: 12px 0;
        display: block;
        @include respond-to(mobile){
            margin:0;
        }
    }
}

.certs{
    margin-top: 46px;
    @include respond-to(mobile){
        margin-top: 150px;
    }
    &__description{
        text-align: center;
        color: #000000;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        padding-top: 26px;
        width: 791px;
        margin: 0 auto;
        @include respond-to(mobile){
            width: 100%;
            font-size: 16px;
            font-weight: 300;
            line-height: 22px;
            padding:10px 13px;
            text-align: left;
        }
        p{
            margin-bottom: 25px;
        }
    }
    &__row{
        &--1{
            padding: 19px 76px 18px 80px;
            @include respond-to(mobile){
                padding: 0;
            }
        }
        &--2{
            padding: 0px 208px 209px;
            @include respond-to(mobile){
                padding: 0;
            }
        }
    }
    .cert{
        display: block;
        float: left;
        width: 241px;
        height: 341px;
        margin: 10px;
        @include respond-to(mobile){
            float: none;
            margin: 10px auto;
        }
    }
}

.contacts{
    padding-top: 100px;
    background: #f4c038;
    &__header{
        //margin-bottom: -50px;
        z-index: 5;
        position: absolute;
        margin: 0 auto;
        width: 100%;
        @include respond-to(mobile){
            top: 60px
        }
    }
    .map{
        position: relative;
        &__mask-top{
            position: absolute;
            left:0;
            top:-1px;
            width: 100%;
            z-index: 4;
        }
        &__mask-bottom{
            position: absolute;
            left:0;
            bottom:0;
            width: 100%;
            z-index: 4;
        }
        &__text{
            background: url("../img/contacts-bg.png") center center no-repeat;
            position: absolute;
            z-index: 4;
            top: 249px;
            left: calc(50% - 500px);
            width: 482px;
            height: 304px;
            padding: 30px 55px 0 62px;
            p{
                margin: 3px 0;
                font-size: 18px;
                font-weight: 300;
            }
            .address{
                line-height: 34px;
            }
            strong{
                font-weight: 400;
                line-height: 24px;
            }
            .phone-line{
                margin-top: 23px;
            }
            .phone{
                font-size: 22px;
                font-weight: 400;
                line-height: 24px;
            }
        }
    }
    #map{
        width: 100%;
        height: 700px;
        @include respond-to(mobile){
            height: 289px;
        }

    }
}

.requisites{
    padding-top: 69px;
    padding-bottom: 150px;
    @include respond-to(mobile){
        padding-top: 39px;
        padding-bottom: 50px;
    }
    .black{
        text-decoration: underline;
    }
    .contact-us{
        padding: 0px 25px 50px 15px;
        p{
            margin: 3px 0;
            font-size: 16px;
            font-weight: 300;
        }
        .address{
            line-height: 20px;
        }
        strong{
            font-weight: 400;
            line-height: 24px;
        }
        &__work-time{
            margin: 17px 0;
            font-size: 18px;
            font-weight: 300;
        }
        &__phone-line{
            margin-top: 0px;
        }
        .phone{
            font-size: 22px;
            font-weight: 400;
            line-height: 24px;
        }
    }
    h2{
        @include respond-to(mobile){
            text-align: left;
            padding: 0 7px;
        }
    }
    p{
        font-size: 18px;
        font-weight: 300;
        line-height: 34px;
    }
    strong{
        font-weight: 400;
    }
    .row{
        margin-top: 45px;

        .left-col{
            padding-right: 60px;
            text-align: right;
            @include respond-to(mobile){
                padding-right: 10px;
                padding-left: 10px;
                text-align: left;
            }
        }
        .right-col{
            padding-left: 14px;
            @include respond-to(mobile){
                padding-right: 10px;
                padding-left: 10px;
            }
        }
    }

}

.about{
    padding-top: 99px;
    //background: #f4c038;
    background: -moz-linear-gradient(top, #f4c038 0%, #f4c038 100px, #000000 100px, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f4c038 0%,#f4c038 100px,#000000 100px,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f4c038 0%,#f4c038 100px,#000000 100px,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4c038', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    &__header{
        z-index: 5;
        position: absolute;
        margin: 0 auto;
        width: 100%;
        @include respond-to(mobile){
            top: 62px;
        }
    }
    .photo {
        max-height: 85vh;
        position: relative;
        overflow: hidden;
        &__mask-top {
            position: absolute;
            left: 0;
            top: -1px;
            width: 100%;
            z-index: 4;
        }
        &__mask-bottom {
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 101%;
            z-index: 4;
        }
        &__photo{
            opacity: 0.4;
        }
        .text{
            width: 614px;
            height: 175px;
            background: url("../img/quote.png") left top no-repeat;
            padding-top: 40px;
            padding-left: 60px;
            position: absolute;
            left: calc(50% - 85px);
            top:  calc(50% + 62px);
            z-index: 5;
            color: #ffffff;
            font-size: 22px;
            font-weight: 400;
            line-height: 30.06px;
            @include respond-to(mobile){
                left:10px;
                top: 75%;
                p{
                    display: none;
                }
            }
        }
    }
}

.company{
    &__container{
        padding: 0 125px 0 170px;
        @include respond-to(mobile){
            padding: 20px 0;
        }
    }
    &__text{
        color: #010101;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        padding: 0 28px 0 24px;
    }
    .company-info{
        margin: 55px 0;
        @include respond-to(mobile){
            .col{
                width: 100%;
                float: none;
            }
        }
        &--1{
            .img-wrapper{
                padding-top: 50px;
                @include respond-to(mobile){
                    padding: 0;
                }
            }
        }
        img{
            max-width: 100%;
            display: inline-block;
        }
        .text-wrapper{
            padding-left: 40px;
            @include respond-to(mobile){
                padding-left: 10px;
            }
        }

        .img-wrapper{
            padding-right: 40px;
        }
        &__title{
            font-size: 22px;
            font-weight: 400;
            line-height: 34px;
            text-align: left;
            margin-bottom: 10px;
            @include respond-to(mobile){
                margin-top: 40px;
            }
        }
        &__text{
            font-size: 18px;
            font-weight: 300;
            line-height: 24px;
            @include respond-to(mobile){
                font-size: 16px;
                font-weight: 300;
                line-height: 22px;
            }
        }
        p{
            margin-top: 10px;
        }
    }
}

.boss{
    margin: 150px 0;
    @include respond-to(mobile){
        margin: 60px 0;
    }
    &__container{
        padding: 0 125px 0 170px;
        @include respond-to(mobile){
            padding: 0;
            .col{
                float: none;
                width: 100%;
            }
        }
    }
    .text-wrapper{
        padding-top: 50px;
        padding-left: 40px;
    }
    .img-wrapper{
        padding-right: 40px;
        img{
            max-width: 100%;
            display: inline-block;
        }
    }
    &__name{
        font-size: 22px;
        font-weight: 400;
        line-height: 34px;
        text-align: left;
        margin-bottom: 10px;
    }
    &__message{
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
    }
    &__position{
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        margin-bottom: 20px;
    }
    p{
        margin-top: 10px;
    }
}

.content{
    overflow: hidden;
    &__header{
        padding-top: 100px;
        background: #f4c038;
        position: relative;
        padding-bottom: 100px;
        @include respond-to(mobile){
            padding-bottom: 46px;
        }
    }
    &__title{
        z-index: 5;
        position: absolute;
        margin: 0 auto;
        width: 100%;
        white-space: pre-line;
        @include respond-to(mobile){
            white-space: pre-line !important;
        }
    }
    &__subtitle{
        color: #ffffff;
        font-size: 22px;
        font-weight: 400;
        line-height: 30.59px;
        margin-top: 60px;
        @include respond-to(mobile){
            margin-top: 92px;

        }
    }
    &__mask{
        position: absolute;
        width: 300%;
        margin-left: -100%;
        bottom: -1px;
    }
}

.projects{
    &__project{
        width: 242px;
        height: 245px;
        background-color: #eeeeee;
        color: #000000;
        font-size: 16px;
        font-weight: 300;
        line-height: 22px;
        padding: 46px 18px 0 23px;
        margin: 0 9px ;
        float: left;
        @include respond-to(mobile){
            margin: 9px 0;
        }
    }
    &__row{
        position: relative;
        padding: 100px 0;
        .description{
            z-index: -1;
            position: absolute;
            width: 330px;
            height: 288px;
            border: 3px solid #f4c038;
            font-size: 22px;
            font-weight: 400;
            line-height: 30px;
            padding-top: 37px;
            padding-left: 32px;
            @include respond-to(mobile){
                width: 260px;
                height: 228px;
                font-size: 20px;
                font-weight: 400;
                line-height: 24px;
                padding-top: 37px;
                padding-left: 21px;
            }
        }
        &--1{
            padding-left: 348px;
            @include respond-to(mobile){
                padding-left: 63px;
            }
            .description{
                left: 120px;
                top: 120px;
                padding-right: 82px;
                @include respond-to(mobile){
                    left:15px;
                    top: 15px;
                    padding-right: 10px;
                }
            }
        }
        &--2{
            padding-left: 88px;
            @include respond-to(mobile){
                padding-left: 15px;
            }
            .description{
                left: 680px;
                top: -11px;
                padding-right: 40px;
                @include respond-to(mobile){
                    left:45px;
                    top: 15px;
                    padding-right: 10px;
                }
            }
        }
        &--3{
            padding-left: 348px;
            @include respond-to(mobile){
                padding-left: 63px;
            }
            .description{
                left: 178px;
                top: 0px;
                @include respond-to(mobile){
                    left:15px;
                    top: 15px;
                    padding-right: 10px;
                }
            }
        }
    }
}

.sell{
    .content__title{
        white-space: unset;
    }
    &__profits{
        padding: 80px 68px 100px;
        @include respond-to(mobile){
            padding: 13px 5px;
        }
    }
    &__profit{
        width: 216px;
        text-align: center;
        color: #ffffff;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        float: left;
        margin: 0 25px;
        @include respond-to(mobile){
            width: 100%;
            float: none;
            margin: 20px 0;
            display: flex;
            text-align: left;
        }
    }
    .profit{
        &__icon-wrapper{
            margin-bottom: 15px;
            @include respond-to(mobile){
                width: 25%;
                text-align: center;
            }
        }
        &__text{
            @include respond-to(mobile){
                width: 75%;
                font-size: 16px;
                font-weight: 300;
                line-height: 22px;
                padding-left: 20px;
                padding-right: 15px
            }
        }
        &__icon{
            &--delivery{
                height: 64px;
                @include respond-to(mobile){
                    height: auto;
                    width: 90%;
                    margin-top: 10px;
                }

            }
            &--load{
                height: 64px;
                @include respond-to(mobile){
                    height: auto;
                    width: 80%;
                }
            }
            &--headphones{
                height: 64px;
                @include respond-to(mobile){
                    height: auto;
                    width: 80%;
                }
            }
            &--discount{
                height: 64px;
                @include respond-to(mobile){
                    height: auto;
                    width: 80%;
                }
            }
        }
    }
    &__questionary{
        .container{
            padding: 100px 155px;
            @include respond-to(mobile){
                padding: 0;
                margin-top: -40px;
            }
        }
        .questionary__text{
            @include respond-to(mobile){
                padding-left:8px;
            }
        }
    }
    .products{
        padding: 100px 0;
        @include respond-to(mobile){
            padding: 50px 0;
        }
        &__row{
            padding: 0 100px;
            @include respond-to(mobile){
                padding:0;
            }
        }
        &__title{
            margin-bottom: 50px;
        }
    }
    .product{
        float: left;
        width: 50%;
        display: flex;
        flex-direction: row;
        margin: 30px 0;
        cursor: pointer;
        transition: 0.3s;
        @include respond-to(mobile){
            width: 100%;
            padding: 0 10px;
            flex-direction: column;
            align-items: center;
        }
        &__text{
            margin-left:35px;
            max-width: 227px;
            @include respond-to(mobile){
                margin-top: 30px;
            }
            /*display: flex;
            flex-direction: column;
            justify-content: center;*/
        }
        &__title{
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
        }
        &__description{
            font-size: 16px;
            margin: 15px 0;
            line-height: 24px;
            font-weight: 300;
        }
        strong{
            display: inline-block;
            transition: 0.3s;
            margin: 0 5px;
        }
        img{
            transition: 0.3s;
        }
        &:hover img{
            transition: 0.3s;
            transform: scale(1.03);
        }

    }
    .info{
        padding: 100px;
        @include respond-to(mobile){
            padding: 0 13px;
        }
        &__row{
            margin: 30px 0;
            display: flex;
            @include respond-to(mobile){
                flex-direction: column;
            }
        }
        &__img-wrapper{
            float: left;
            min-width: 40%;
            justify-content: center;
            margin: auto;
            text-align: center;
            @include respond-to(mobile){
                min-width: 100%;
                margin: 0;
                float:none;
                img{
                    max-width: 100%;
                    margin-bottom: 15px;
                }
            }
        }
        &__text-wrapper{
            font-size: 18px;
            font-weight: 300;
            line-height: 1.5;
            float: left;
            width: 60%;
            @include respond-to(mobile){
                min-width: 100%;
                margin: 0;
                float:none;
                font-size: 16px;
                font-weight: 300;
            }
        }
        &__img{
            &--folder{
                width: 83px;
                height: 89px;
            }
            &--database{
                width: 106px;
                height: 105px;
            }
        }

        &__header{
            font-size: 22px;
            font-weight: 400;
            line-height: 30px;
            @include respond-to(mobile){
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 15px;
            }

        }
    }
}

.configure{
    &__profits{
        padding: 80px 194px 100px;
        @include respond-to(mobile){
            padding: 13px 5px;
        }
    }
    &__profit{
        width: 353px;
        text-align: center;
        color: #ffffff;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        float: left;
        margin: 0 25px;
        @include respond-to(mobile){
            width: 100%;
            float: none;
            margin: 20px 0;
            display: flex;
            text-align: left;
        }
    }
    .profit{
        &__icon-wrapper{
            margin-bottom: 15px;
            @include respond-to(mobile){
                width: 25%;
                text-align: center;
            }
        }
        &__text{
            @include respond-to(mobile){
                width: 75%;
                font-size: 16px;
                font-weight: 300;
                line-height: 22px;
                padding-left: 20px;
                padding-right: 15px
            }
        }
        &__icon{
            height: 90px;
            @include respond-to(mobile){
                width: 55px;
            }
        }
    }
    h2{
        @include respond-to(mobile){
            font-size: 20px;
            white-space: pre-line;
            margin-bottom: 30px;
        }
    }
    .steps{
        position: relative;
        padding-top: 70px;
        padding-bottom: 90px;
        background-size: auto auto;
        overflow: hidden;
        &__bg{
            position: absolute;
            background: url(../img/step-line.svg) left top repeat;
            height: 8px;
            background-size: cover;
            &--1{
                left: calc(50% - 505px);
                top: 169px;
                width: calc(50% + 505px);
                @include respond-to(mobile){
                    height: 427px;
                    width: 10px;
                    background: url(../img/line-yellow.svg) left top repeat;
                    left: 14px;
                    top: 153px;
                }
            }
            &--2{
                left: 0;
                top: 372px;
                width: calc(50% + 287px);
                @include respond-to(mobile){
                    display: none;
                }
            }
        }

        &__row{
            padding: 0 88px;
            margin: 50px 0;
            @include respond-to(mobile){
                padding: 0;
                margin: 0
            }
        }
        &__step{
            width: 250px;
            float: left;
            padding: 0 10px;
            @include respond-to(mobile){
                padding: 0 10px;
                margin: 10px 0;
                float: none;
                display: flex;
                width: 100%;
                flex-direction: row;
                justify-content: space-around;
            }
        }
        &__icon-wrapper{
            img{
                width: 44px;
                @include respond-to(mobile){
                    width: 16px;
                    margin-top: 5px;
                    margin-right: 5px;
                }
            }
        }
        &__text{
            color: #000000;
            font-size: 18px;
            font-weight: 300;
            line-height: 24px;
            margin-top: 34px;
            @include respond-to(mobile){
                margin: 0;
                font-size: 16px;
                font-weight: 300;
                line-height: 22px;
            }
        }
        &__description{
            text-align: center;
            width: 575px;
            margin: 80px auto 20px;
            font-size: 18px;
            font-weight: 300;
            line-height: 24px;
            @include respond-to(mobile){
                text-align: center;
                width: 100%;
                margin: 52px auto 20px;
                font-size: 16px;
                font-weight: 300;
                line-height: 22px;
                padding: 0 10px;
            }
        }
        &__btn-wrapper{
            text-align: center;
            .btn{
                @include respond-to(mobile){
                    font-size: 16px;
                }
            }
        }
    }
    &__schema{
        @include respond-to(mobile){
            padding: 75px 10px;
        }
        .img-wrapper{
            display: flex;
            justify-content: center;
        }
        &-description{
            font-size: 18px;
            font-weight: 300;
            line-height: 24px;
            margin: 55px auto;
            text-align: center;
            @include respond-to(mobile){
                font-size: 16px;
                font-weight: 300;
                line-height: 22px;
            }
        }
        li{
            position: relative;
            padding-left: 30px;
            font-size: 18px;
            font-weight: 300;
            margin: 25px 0;
            @include respond-to(mobile){
                font-size: 16px;
                font-weight: 300;
                line-height: 22px;
                margin: 15px 0;
            }
            &:before{
                content: "—";
                left: 0px;
                top: 5px;
                position: absolute;
                @include respond-to(mobile){
                    top:0px;
                }
            }
        }
        .btn{
            font-size: 16px;
        }
    }
    .configure__catch{
        margin-top: -75px;
        @include respond-to(mobile){
            margin:0;
            background: #f4c038;
            padding-top: 42px;
        }
        .catch__bg{
            @include respond-to(mobile){
                display: none;
            }
        }
        .catch__content{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            text-align: center;
            width: 100%;
            z-index: 4;
            display: flex;
            align-items: center;
            bottom: 0;
            justify-content: center;
            @include respond-to(mobile){
                position: relative;
                display: block;
            }
        }
    }
    &__catch-worksteps{
    }
    .worksteps{
        &__title{
            color: #ffffff;
            font-size: 22px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
        }
        &__row{
            margin:50px 0;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 0 90px;
            position: relative;
            @include respond-to(mobile){
                flex-direction: column;
                padding: 0;
            }
        }
        &__bg{
            position: absolute;
            background: url(../img/step-line-w.svg) left top no-repeat;
            width: 750px;
            height: 10px;
            top: 30px;
            left: 225px;
            z-index: -1;
            @include respond-to(mobile){
                background: url(../img/line-white.svg) left top no-repeat;
                width: 10px;
                height: 273px;
                top: 30px;
                left: 25px;
            }
        }
        &__step{
            width: 184px;
            @include respond-to(mobile){
                width: 100%;
                display: flex;
                flex-direction: row;
                margin: 10px 0;
                padding: 0 10px;
                align-items: center;
            }
        }
        &__icon{
            background: url(../img/work-step-bg.svg) center center no-repeat;
            text-align: center;
            color: #b28100;
            font-size: 32px;
            font-weight: 400;
            line-height: 24px;
            height: 66px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            @include respond-to(mobile){
                width: 42px;
                height: 42px;
                margin: 0;
                background-size: cover;
            }
        }
        &__number{
            width:20px;
            height:20px;
            display: inline-block;
        }
        &__text{
            font-size: 16px;
            font-weight: 300;
            line-height: 20.01px;
            text-align: center;
            color: #fff;
            @include respond-to(mobile){
                padding-left: 10px;
                padding-right: 30px;
                width: 260px;
                text-align: left;
            }
        }
    }
    .add-services{
        padding-top:95px;
        padding-bottom: 150px;
        @include respond-to(mobile){
            padding-top: 55px;
            padding-bottom: 30px;
        }
        &__title{
            color: #000000;
            font-size: 22px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
        }
        &__row{
            margin:50px 0;
            display: flex;
            justify-content: space-between;
            padding: 0 80px;
            @include respond-to(mobile){
                padding: 0;
                flex-direction: column;
            }
        }
        &__service{
            width: 216px;
            @include respond-to(mobile){
                margin: 25px 0;
                width: 100%;
            }
        }
        &__icon{
            text-align: center;
            display: flex;
            align-items: top;
            justify-content: center;
            margin-bottom: 20px;
            img{
                height: 66px;
            }
        }
        &__text{
            font-size: 18px;
            font-weight: 300;
            line-height: 24.05px;
            text-align: center;
        }
    }
}

.introduction{
    .content__header{
        height: 750px;
        @include respond-to(mobile){
            height: 935px;
            background: linear-gradient(to bottom,#f4c038 0%,#f4c038 85%,#f6f6f6 89%,#f6f6f6 100%);
        }
    }
    &__quote{
        position: absolute;
        color: #ffffff;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        @include respond-to(mobile){
        }
        &--1{
            padding: 22px;
            width: 365px;
            height: 115px;
            left: 300px;
            top: 80px;
            background: url("../img/3-1-contur.svg") left top no-repeat;
            z-index: 3;
            @include respond-to(mobile){
                left: -2px;
                top: 100px;
            }
        }
        &--2{
            padding: 31px 30px 0 77px;
            width: 414px;
            height: 170px;
            left: 555px;
            top: 133px;
            background: url(../img/3-2-contur.svg) left top no-repeat;
            @include respond-to(mobile){
                left: -66px;
                top: 215px;
            }
        }
        &--3{
            padding: 9px 55px;
            width: 384px;
            height: 115px;
            left: 271px;
            top: 261px;
            background: url("../img/3-3-contur.svg") left top no-repeat;
            @include respond-to(mobile){
                left: -56px;
                top: 400px;
            }
        }
    }
    &__consultation{
        color: #000;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        width: 573px;
        height: 270px;
        position: absolute;
        background: url(../img/intr-consultation.svg) left top no-repeat;
        top: 333px;
        left: 533px;
        padding: 39px 87px;
        z-index: 2;
        @include respond-to(mobile){
            background: url(../img/cons-mobile-bg.svg) left top no-repeat;
            font-size: 16px;
            font-weight: 300;
            line-height: 22px;
            top: 517px;
            left: -64px;
            width: 442px;
            height: 315px;
        }
    }
    &__steps-list{
        background: #f6f6f6;
        padding-top: 85px;
        padding-bottom: 100px;
        @include respond-to(mobile){
            padding: 30px 15px;

        }
    }

    &__catch{
        margin-bottom: -68px;
        @include respond-to(mobile){
            margin-bottom: -24px;
        }
        .catch__text{
            width: 826px;
            @include respond-to(mobile){
                width: 100%;
                padding: 10px;
                margin-bottom: 20px;
                height: 80px;
            }
        }
    }

    &__compare{
        padding-top: 105px;
        padding-bottom: 40px;

    }
    .compare{
        @include respond-to(mobile){
            display: block;
            padding: 30px 15px;
        }
        &__title{
            font-size: 22px;
            font-weight: 400;
            line-height: 40px;
            @include respond-to(mobile){
                font-size: 20px;
                font-weight: 400;
                line-height: 30.6px;
                text-align: left;
            }
        }
        .table{
            &.floatThead-table{
                border-radius: 5px 5px 0 0 ;
            }
            table-layout: fixed;
            @include clearfix();
            margin-top: 30px;
            box-shadow: 0 5px 25px rgba(221, 221, 221, 0.7);
            background-color: #ffffff;
            border-radius: 5px;
            overflow: hidden;
            tr{
                border-bottom: 1px solid #ccc;
                @include respond-to(mobile){
                    display: flex;
                    flex-direction: column;
                    border-bottom: none;
                }
                &:last-of-type{
                    border-bottom: none;
                }
            }
            thead{
                @include respond-to(mobile){
                    display: none;
                }
                color: #fff;
                z-index: 0;
                background: #f4c038;
                tr{
                    border-bottom: 1px solid #fff;
                    th{
                        line-height: 20px;
                    }
                }
            }
            th{
                vertical-align: top;
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
                padding: 20px 36px;
                text-align: left;
                width: 25%;
            }
            td{
                &:first-of-type{
                    font-family: "Proxima Nova - Semibold";
                    font-weight: 400;
                }
                padding: 30px 36px;
                font-size: 16px;
                font-weight: 300;
                line-height: 24px;
                @include respond-to(mobile){
                    padding: 5px 10px;
                    font-weight: 300;
                    &:first-of-type {
                        padding: 5px 10px;
                        font-weight: 600;
                        color: #fff;
                        background: #f4c038;
                    }
                    &:nth-child(3),&:nth-child(4){
                        display: none;
                    }
                }
            }
        }
    }

}

.support{
    .content__header {
        padding-bottom: 160px;
    }
    &__steps-list{
        padding-top: 30px;
        padding-bottom: 120px;
        padding-left: 15px;
        padding-right: 15px;
    }
    &__profits{
        background: #f6f6f6;
    }
    .profits{
        padding-top:71px;
        padding-bottom: 50px;
        @include respond-to(mobile){
            padding-top: 55px;
            padding-bottom: 30px;
            padding-left: 15px;
            padding-right: 15px;
        }
        &__title{
            color: #000000;
            font-size: 32px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
            @include respond-to(mobile){
                font-size: 20px;
                font-weight: 400;
                line-height: 24px;
            }
        }
        &__row{
            margin:50px 0;
            display: flex;
            justify-content: space-evenly;
            padding: 0 80px;
            @include respond-to(mobile){
                padding: 0;
                flex-direction: column;
            }
        }
        &__profit{
            width: 238px;
            @include respond-to(mobile){
                margin: 25px 0;
                width: 100%;
            }
        }
        &__icon{
            text-align: center;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            margin-bottom: 20px;
            img{
                height: 66px;
            }
        }
        &__text{
            font-size: 18px;
            font-weight: 300;
            line-height: 24.05px;
            text-align: center;
            @include respond-to(mobile){
                font-size: 16px;
                font-weight: 300;
                line-height: 22px;
            }
        }
    }
    &__price{
        padding-top: 85px;
        padding-bottom: 100px;
        @include respond-to(mobile){
            padding-left: 15px;
            padding-right: 15px;
        }
        &-title{
            text-align: center;
            font-family: "Proxima Nova - Semibold";
            font-size: 32px;
            font-weight: 400;
            line-height: 24px;
            @include respond-to(mobile){
                font-size: 20px;
                font-weight: 400;
                line-height: 24px;
            }
        }
        &-subtitle{
            text-align: center;
            font-size: 18px;
            font-weight: 300;
            line-height: 24px;
            margin: 36px 0 25px;
        }
    }

    .price{
        box-shadow: 0 5px 25px rgba(221, 221, 221, 0.7);
        background-color: #ffffff;
        border-radius: 5px;
        margin: 0 auto;
        overflow: hidden;
        @include respond-to(mobile){
            margin:15px 0;
        }
        &--1{
            td{
                &:first-of-type{
                    font-family: "Proxima Nova - Semibold";
                    font-weight: 400;
                }
            }
            tfoot{
                th{
                    &:first-of-type{
                        font-family: "Proxima Nova - Semibold";
                        font-weight: 400;
                    }
                }
            }
        }
        &--its{
            td{
                &:first-of-type{
                    font-family: "Proxima Nova - Semibold";
                    font-weight: 400;
                }
            }
            margin: 30px auto;
            .yellow{
                color: #f4c038;
            }
        }
        thead{
            background: #f4c038;
            font-family: "Proxima Nova - Semibold";
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            color: white;

        }
        th{
            padding:15px 20px;
            text-align: left;
            white-space: pre-line;
            @include respond-to(mobile){
                text-align: center;
            }
        }
        td{
            padding:11px 20px;
            font-size: 16px;
            font-weight: 300;
        }
        tfoot{
            border-top:1px solid #ccc;
            th{
                font-size: 16px;
                font-weight: 300;
            }
        }
    }
    &__its-info{
        padding-top: 83px;
        padding-bottom: 73px;
        background: #f6f6f6;
    }
    .its-info{
        text-align: center;
        @include respond-to(mobile){
            padding-left: 15px;
            padding-right: 15px;
            text-align: left;
        }
        &__title{
            font-family: "Proxima Nova - Semibold";
            font-size: 32px;
            font-weight: 400;
            line-height: 24px;
            @include respond-to(mobile){
                font-size: 20px;
                font-weight: 400;
                line-height: 24px;
            }
        }
        &__text{
            width: 1005px;
            margin: 0 auto;
            @include respond-to(mobile){
                width: 100%;
            }
            @include respond-to(mobile){
                font-size: 16px;
                font-weight: 300;
                line-height: 22px;
            }
            .paragraph{
                margin-top: 30px;
            }
            a{
                text-decoration: underline;
            }
        }
    }
    .its{
        padding: 83px 15px;
        &__title{
            font-family: "Proxima Nova - Semibold";
            font-size: 32px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
            @include respond-to(mobile){
                font-size: 20px;
                font-weight: 400;
                line-height: 24px;
            }
        }
        &__types{
            display: flex;
            flex-direction: row;
            margin-top: 35px;
            justify-content: center;
            @include respond-to(mobile){
                flex-direction: column;
            }
        }
        &__type{
            font-size: 18px;
            font-weight: 300;
            line-height: 24px;
            display: flex;
            flex-direction: row;
            white-space: pre-line;
            margin: 0 15px;
            @include respond-to(mobile){
                font-size: 16px;
                font-weight: 300;
                line-height: 22px;
            }
        }
        &__color{
            border-radius: 50%;
            width: 25px;
            height:25px;
            margin-right: 10px;
            &--black{
                background: black;
            }
            &--yellow{
                background-color: #f4c038;
            }
        }
        &__description{
            text-align: center;
            @include respond-to(mobile){
                font-size: 16px;
                font-weight: 300;
                line-height: 22px;
                margin-top: 15px;
            }
            a{
                text-decoration: underline;
            }
        }
        &__btn-wrapper{
            text-align: center;
            margin-top: 25px;
        }
    }

}
.steps-list{
    &__img-wrapper{
        display: flex;
        justify-content: center;
        @include respond-to(mobile){
            margin-bottom: 20px;
        }
    }
    &__title{
        font-size: 32px;
        font-weight: 400;
        line-height: 40px;
        @include respond-to(mobile){
            font-size: 20px;
            font-weight: 400;
            line-height: 30.6px;
            text-align: left;
        }
    }
    &__text{
        margin-top: 40px;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
    }
    &__description{
        margin-top: 60px;
        p{
            margin: 10px 0;
        }
    }
}
.footer{
    &__arch{
        margin-bottom: 10px;
    }
    padding-bottom: 15px;
    &__row{
        @include respond-to(mobile){
            display: flex;
            flex-direction: column-reverse;
        }
    }
    &__contacts{
        @include respond-to(mobile){
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 11px;
            padding: 0 13px;
        }
    }
    &__logo-block{
        margin-left: 90px;
        float: left;
        padding-top: 24px;
        @include respond-to(mobile){
            margin-bottom: 20px;
            margin-left: auto;
            margin-top: 44px;
            margin-right: auto;
        }
    }
    &__logo{
        display: inline-block;
        padding: 10px;
    }
    &__copyright{
        color: #000000;
        font-size: 12px;
        font-weight: 300;
    }
    &__socials{
        float: left;
        vertical-align: bottom;
        padding-top: 42px;
        margin-left: 144px;
        @include respond-to(mobile){
            text-align: center;
            margin-left: 0;
            padding-top: 0px;
            margin-top: 60px;
        }
    }
    &__social{
        display: inline-block;
        width: 46px;
        height: 46px;
        background-size: contain !important;
        margin: 0 7.5px;
        &--facebook{
            background: url("../img/facebook.svg") center center no-repeat;
        }
        &--vk{
            background: url("../img/vk.svg") center center no-repeat;
        }
        &--insta{
            background: url("../img/insta.svg") center center no-repeat;
        }
    }
    &__phone{
        float: left;
        font-size: 18px;
        font-weight: 400;
        margin-left: 151px;
        margin-top: 55px;
        @include respond-to(mobile){
            margin-left: 0;
            padding-top: 0px;
            margin-top: 0px;
        }
    }
    &__icons{
        float:left;
        margin-top: 45px;
        margin-left: 20px;
        @include respond-to(mobile){
            margin-top: 6px;
            margin-left: 20px;
        }
    }
    &__icon{
        fill: #000;
        @include respond-to(mobile){
            width: 45px !important;
            height: 45px !important;
        }
    }
}

.popup{
    position: fixed;
    width: 100%;
    z-index: 7;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    @include respond-to(mobile){
        position: fixed;
        width: 100%;
        z-index: 7;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        min-height: 100vh;
        .popup__info{
            margin: 0;
            br{
                display: none;
            }
        }
        .popup__percent{
            display: none;
        }
        .popup__success-text {
            text-align: center;
            width: 100%;
            margin: 0 auto;
            margin-top: 40px;
            padding: 0 10px;
        }
        .popup__description{
            padding: 0 5px;
        }
    }
    text-align: center;
    width: 100%;
    height: 100vh;
    background: url(../img/mask-popup.svg) center 55vh /cover no-repeat #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    &#callback{
        background: url(../img/mask-popup.svg) center 65vh /cover no-repeat #f6f6f6;
    }
    &--message{
        background: url(../img/mask-popup.svg) center 70vh /cover no-repeat #f6f6f6;
    }
    &__header{
        color: #000000;
        font-size: 36px;
        font-weight: 400;
        margin-bottom: 13px;
    }
    &__description{
        color: #000000;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        margin-bottom: 32px;
    }
    .form__input-text,.form__textarea{
        width: 260px;
    }
    .form__group {
        margin: 19px 0;
    }
    &__percent{
        display: inline-block;
        color: #d71921;
        font-size: 57px;
        font-weight: 400;
        line-height: 75.65px;
    }
    &__info{
        margin-top: 90px;
    }
    &__consultation{
        display: inline-block;
        height: 63px;
        color: #000000;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        vertical-align: bottom;
        text-align: left;
        margin-left: 15px;
    }
    &__success-text{
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
        width: 367px;
        margin: 0 auto;
        margin-top: 40px;
    }
    &__back-wrapper{
        margin-top: 75px;
        .back{
            color: #f4c038;
            font-size: 18px;
            font-weight: 300;
        }
    }
    .mfp-close{
        font-size: 64px;
    }
}

.mobile-menu{
    display: none;
    position: fixed;
    width: 100%;
    z-index: 10;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    background-color: #f4c038;
    &.open{
        display: block;
    }
    &__logo{
        margin-top: 9px;
        margin-left: 14px;
        width: 58px;
    }
    &__menu{
        display: block;
        height: 70vh;
    }
    &__item{
        padding-left: 15px;
    }
    &__link{
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        line-height: 40px;
        &.active{
            color: #d71921;
        }
    }
    &__header{
        height: 15vh;
    }
    &__footer{
        background: #fff;
        height: 15vh;
    }
    .footer__socials{
        margin-top: 21px;
    }
}
