@@include('./templates/header.tpl')

<section class="about">
    <h1 class="about__header">О компании</h1>
    <div class="photo">
        <img src="img/mask-top.svg" alt="" width="100%" class="photo__mask-top">
        <img src="img/mask-bottom.svg" alt="" width="100%" class="photo__mask-bottom">
        <img src="img/team.jpg" alt="" width="100%" class="photo__photo">
        <div class="text">
            <p>Мы обеспечиваем бизнесу возможность принимать
            обоснованные управленческие решения и адекватно
            реагировать на изменения внешней среды через
            автоматизацию бизнеса и внедрение современных
            IT технологий</p>
        </div>
    </div>
</section>

<section class="company">
    <div class="container company__container">
        <div class="company__text visible-mobile">
            <p>Мы обеспечиваем бизнесу возможность принимать
                обоснованные управленческие решения и адекватно
                реагировать на изменения внешней среды через
                автоматизацию бизнеса и внедрение современных
                IT технологий</p>
        </div>
        <div class="row company__info company-info company-info--1">
            <div class="col col--4 img-wrapper">
                <img src="img/info1.jpg" alt="">
            </div>
            <div class="col col--8 text-wrapper">
                <h3 class="company-info__title">Основание компании</h3>
                <div class="company-info__text">
                    Компания Бизнес Менеджмент Групп основана в 2014 году командой профессионалов в областях бизнес-анализа, финансового и кадрового учета, информационных технологий
                    и автоматизации. Мы помогали компаниям таким же как мы, небольшим кампаниям, настроить и автоматизировать процессы учета, внедрить современные IT-системы, чтобы руководители могли сосредоточиться на развитии бизнеса, а пользователи – работать быстрее и удобнее.
                </div>
            </div>
        </div>
        <div class="row company__info company-info company-info--2">
            <div class="col col--4 img-wrapper">
                <img src="img/info2.png" alt="">
            </div>
            <div class="col col--8 text-wrapper">
                <h3 class="company-info__title">Развитие</h3>
                <div class="company-info__text">
                    Время шло, мы развивались вместе с нашими клиентами.
                    На сегодняшний день Бизнес Менеджмент Групп – это группа компаний, которая включает направления Управленческого консалтинга, Автоматизации на платформе 1С Предприятие, Облачных вычислительных ресурсов и IT-сервиса. За это время мы успешно выполнили большое количество проектов
                    и пополнили нашу команду квалифицированными специалистами с серьезным опытом и ответственным отношением к нашему общему делу.
                    <p><a href="certs.html">Смотреть сертификаты →</a></p>

                </div>
            </div>
        </div>
        <div class="row company__info company-info company-info--3">
            <div class="col col--4 img-wrapper">
                <img src="img/info3.png" alt="">
            </div>
            <div class="col col--8 text-wrapper">
                <h3 class="company-info__title">Миссия компании</h3>
                <div class="company-info__text">
                    Наш успех тесно связан с успехом наших клиентов, поэтому мы не продаем программы, как делают многие «внедренцы»,
                    а погружаемся в суть бизнеса клиента, понимаем ключевые приоритетные задачи, решение которых реально приведет
                    к росту компании, и помогаем их решить.
                    Нам доверили автоматизацию процессов:
                    ООО «Альтаир», ООО «Пхали Хинкали», ООО «Спару», ООО «МИГ Электро», ООО «Ладоград», ООО «Русская лаборатория»
                    <p><a href="projects.html">Смотреть портфолио →</a></p>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="boss">
    <div class="container boss__container">
        <div class="row">
            <div class="col col--4 img-wrapper">
                <img src="img/boss.png" alt="">
            </div>
            <div class="col col--8 text-wrapper">
                <p class="boss__name">Николай Петраков</p>
                <p class="boss__position">Генеральный директор</p>
                <p class="boss__message">
                    Напишите мне, я с удовольствием поделюсь<br>
                    нашим опытом, а вы — амбициозными задачами.
                </p>
                <div class="boss__btn-wrapper">
                    <a href="#boss" class="btn js-popup">Написать письмо</a>
                </div>

            </div>
        </div>
    </div>
</section>

@@include('./templates/footer.tpl')

