@@include('./templates/header.tpl')


<section class="big-cert">
        <div class="container big-cert__container">
            <h1>Сертификат франчизи</h1>
            <div class="row big-cert__row">
                <img src="img/big-cert.png" alt="" class="big-cert__img">
                <div class="big-cert__text-wrapper">
                    <p class="big-cert__header">Статус франчайзи 1С
                        гарантирует:</p>
                    <ul class="big-cert__advantages">
                        <li class="big-cert__advantage">
                            <img class="big-cert__advantage-icon" src="img/icons-1-like.svg" alt="">
                            <p>Качественное сопровождение
                            программ 1С</p></li>
                        <li class="big-cert__advantage">
                            <img class="big-cert__advantage-icon" src="img/icons-2-license.svg" alt="">
                            <p>Компетентные специалисты
                            и лицензионные продукты</p></li>
                        <li class="big-cert__advantage">
                            <img class="big-cert__advantage-icon" src="img/icons-3-zamok.svg" alt="">
                            <p>Конфиденциальность
                            данных и контроль разработки</p></li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
<div class="clearfix"></div>
<section class="certs">
        <div class="container js-certs">
            <h2>Сертификаты специалистов</h2>
            <div class="certs__description">
                <p>Наша команда разработки и внедрения состоит только из специалистов, аттестованных фирмой «1С», что гарантирует высокое качество услуг, начиная от простой установки и настройки конфигурации до изменения бизнес-логики программы, обучения пользователей и постановки учета на предприятии в полном объеме.
                </p>
                <p><strong>Нам можно доверять. Команда «Бизнес Менеджмент Групп»</strong></p>
            </div>
            <div class="row certs__row certs__row--1">
                <a href="img/БалыковВладимирВениаминович_CS12741.jpg" title="Балыков Владимир Вениаминович" class="certs__cert cert js-gallery">
                    <img src="img/cert1.jpg" alt="" class="cert__img">
                </a>
                <a href="img/БондаренкоАртемАнатольевич_CS106362.jpg" title="Бондаренко Артем Анатольевич" class="certs__cert cert js-gallery">
                    <img src="img/cert2.jpg" alt="" class="cert__img">
                </a>
                <a href="img/БалыковВладимирВениаминович_CS12741.jpg" title="Балыков Владимир Вениаминович" class="certs__cert cert js-gallery">
                    <img src="img/cert3.jpg" alt="" class="cert__img">
                </a>
                <a href="img/МарочкинОлегОлегович_CS24295.jpg" title="Марочкин Олег Олегович" class="certs__cert cert js-gallery">
                    <img src="img/cert4.jpg" alt="" class="cert__img">
                </a>
            </div>
            <div class="row certs__row certs__row--2">
                <a href="img/Сертификаты-Преподавателей-1.jpg" title="Марочкин Олег Олегович"  class="certs__cert cert js-gallery">
                    <img src="img/cert5.jpg" alt="" class="cert__img">
                </a>
                <a href="img/Сертификаты-Преподавателей-2.jpg"  title="Балыков Владимир Вениаминович" class="certs__cert cert js-gallery">
                    <img src="img/cert6.jpg" alt="" class="cert__img">
                </a>
                <a href="img/Сертификаты-Преподавателей-3.jpg" title="Бондаренко Артем Анатольевич" class="certs__cert cert js-gallery">
                    <img src="img/cert7.jpg" alt="" class="cert__img">
                </a>
            </div>
        </div>
    </section>

@@include('./templates/footer.tpl')
