@@include('./templates/header.tpl')
<div class="configure">
    <section class="content">
        <div class="content__header">
            <h1 class="content__title">Настроим вашу программу 1С</h1>
            <h3 class="content__subtitle">У вас в офисе или дистанционно</h3>
            <div class="container">
                <div class="row configure__profits">
                    <div class="configure__profit profit">
                        <div class="profit__icon-wrapper">
                            <img class="profit__icon profit__icon--delivery" src="img/1-office.svg" alt="">
                        </div>
                        <div class="profit__text">
                            Наши специалисты приедут со своими ноутбуками и будут вести разработку или настройку на вашей территории
                        </div>
                    </div>
                    <div class="configure__profit profit">
                        <div class="profit__icon-wrapper">
                            <img class="profit__icon profit__icon--load" src="img/2-home.svg" alt="">
                        </div>
                        <div class="profit__text">
                            Наши специалисты удаленно подключатся
                            к вашей прграмме 1С и выполнят все необходимые настройки и доработки
                        </div>
                    </div>
                </div>
            </div>
            <img src="img/mask-bottom.svg" alt="" class="content__mask hidden-mobile">
        </div>
    </section>

    <section class="configure__steps steps">
        <div class="steps__bg steps__bg--1"></div>
        <div class="steps__bg steps__bg--2"></div>
        <div class="container">
            <h2>Что делать после покупки
                и установки</h2>
            <div class="row steps__row steps__row--1">
                <div class="steps__step">
                    <div class="steps__icon-wrapper">
                        <img src="img/icon-tick.svg" alt="">
                    </div>
                    <div class="steps__text">
                        Внесение нормативно-справочной информации
                        и начальных остатков

                    </div>
                </div>
                <div class="steps__step">
                    <div class="steps__icon-wrapper">
                        <img src="img/icon-tick.svg" alt="">
                    </div>
                    <div class="steps__text">
                        Настройка интерфейса (внешнего вида)
                        программы
                    </div>
                </div>
                <div class="steps__step">
                    <div class="steps__icon-wrapper">
                        <img src="img/icon-tick.svg" alt="">
                    </div>
                    <div class="steps__text">
                        Настройка прав доступа пользователей
                        к информации
                    </div>
                </div>
                <div class="steps__step">
                    <div class="steps__icon-wrapper">
                        <img src="img/icon-tick.svg" alt="">
                    </div>
                    <div class="steps__text">
                        Настройка типовых печатных форм документов
                        (счета, акты..)
                    </div>
                </div>
            </div>
            <div class="row steps__row steps__row--2">
                <div class="steps__step">
                    <div class="steps__icon-wrapper">
                        <img src="img/icon-tick.svg" alt="">
                    </div>
                    <div class="steps__text">
                        Настройка аналитических отчетов (набор полей, отборы, сортировка)
                    </div>
                </div>
                <div class="steps__step">
                    <div class="steps__icon-wrapper">
                        <img src="img/icon-tick.svg" alt="">
                    </div>
                    <div class="steps__text">
                        Настройка фоновых заданий, архивации базы данных
                    </div>
                </div>
                <div class="steps__step">
                    <div class="steps__icon-wrapper">
                        <img src="img/icon-tick.svg" alt="">
                    </div>
                    <div class="steps__text">
                        Подключение системы клиент-банк для автоматической загрузки выписок
                    </div>
                </div>
                <div class="steps__step">
                    <div class="steps__icon-wrapper">
                        <img src="img/icon-tick.svg" alt="">
                    </div>
                    <div class="steps__text">
                        Настройка обмена данными с другими базами
                        и информационными системами
                    </div>
                </div>
            </div>
            <div class="steps__description">
                Мы обсудим с вами необходимость тех или иных настроек, объясним
                их назначение и выполним все настройки быстро и качественно.
            </div>
            <div class="steps__btn-wrapper">
                <a href="#callback" class="btn js-popup" data-title="Закажите настройку программы 1С">Заказать настройку от 2 300 ₽/час</a>
            </div>
        </div>

    </section>

    <section class="configure__schema schema">
        <div class="container">
            <h2>Доработка программ 1С</h2>
            <div class="configure__schema-description">
                Логика конфигураций 1С достаточно хорошо продумана и адаптирована под типовые процессы. Однако, каждая организация имеет свои индивидуальные особенности, а каждый руководитель — свой взгляд на необходимые аналитические разрезы. Если у вас возникла необходимость изменить логику работы программы, разработать новый аналитический отчет или же нестандартную обработку данных — наши специалисты с радостью вам помогут реализовать эти доработки. При необходимости мы можем даже разработать полностью индивидуальную конфигурацию 1С для решения ваших уникальных задач с нуля.
            </div>
            <div class="row">
                <div class="col col--6 img-wrapper">
                    <img src="img/rework.png" alt="" class="img-responsive">
                </div>
                <div class="col col--6">
                    <div class="tabs__tab-header">
                        Примеры доработок:
                    </div>
                    <div class="tabs__tab-text">
                        <ul>
                            <li>Разработка подсистемы квотирования поставок, объект — квота предназначен для учета возможных объемов и цен закупки</li>
                            <li>Разработка механизма загрузки данных из Excel файла в документ Заказ поставщику</li>
                            <li>Разработка механизма переноса данных при переходе на новую программу 1С</li>
                            <li>Разработка отчета для анализа воронки продаж</li>
                            <li>Разработка алгоритма автоподстановки счетов учета
                                и их аналитики в первичных документах</li>
                        </ul>
                    </div>
                    <div class="tabs__tab-btn-wrapper">
                        <a href="#callback" class="btn js-popup" data-title="Закажите доработку программы 1С">Заказать доработку от 2 300 ₽/час</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="catch configure__catch">
        <img src="img/catch-bg.svg" alt=""  class="catch__bg">
        <div class="catch__content">
            <div class="configure__catch-worksteps worksteps">
                <div class="container">
                    <div class="worksteps__title">
                        Классическая схема работы:
                    </div>
                    <div class="worksteps__row">
                        <div class="worksteps__step">
                            <div class="worksteps__icon">
                                <span class="worksteps__number">1</span>
                            </div>
                            <div class="worksteps__text">
                                Постановка задачи, уточнение потребности
                            </div>
                        </div>
                        <div class="worksteps__step">
                            <div class="worksteps__icon">
                                <span class="worksteps__number">2</span>
                            </div>
                            <div class="worksteps__text">
                                Оценка и согласование стоимости
                            </div>
                        </div>
                        <div class="worksteps__step">
                            <div class="worksteps__icon">
                                <span class="worksteps__number">3</span>
                            </div>
                            <div class="worksteps__text">
                                Реализация доработок
                                и настроек
                            </div>
                        </div>
                        <div class="worksteps__step">
                            <div class="worksteps__icon">
                                <span class="worksteps__number">4</span>
                            </div>
                            <div class="worksteps__text">
                                Тестирование и контроль качества
                            </div>
                        </div>
                        <div class="worksteps__step">
                            <div class="worksteps__icon">
                                <span class="worksteps__number">5</span>
                            </div>
                            <div class="worksteps__text">
                                Сдача работ
                                и консультации
                            </div>
                        </div>
                        <div class="worksteps__bg"></div>
                    </div>


                </div>
            </div>

        </div>

    </section>

    <section class="configure__add-services add-services">
        <div class="container">
            <div class="add-services__title">
                Дополнительные услуги:
            </div>
            <div class="add-services__row">
                <div class="add-services__service">
                    <div class="add-services__icon">
                        <img src="img/1-i-check.svg" alt="">
                    </div>
                    <div class="add-services__text">
                        Формирование
                        подробного технического задания
                    </div>
                </div>
                <div class="add-services__service">
                    <div class="add-services__icon">
                        <img src="img/2-i-settings.svg" alt="">
                    </div>
                    <div class="add-services__text">
                        Моделирование
                        доработок в программе
                    </div>
                </div>
                <div class="add-services__service">
                    <div class="add-services__icon">
                        <img src="img/3-i-polz.svg" alt="">
                    </div>
                    <div class="add-services__text">
                        Формирование пользовательских инструкций
                    </div>
                </div>
                <div class="add-services__service">
                    <div class="add-services__icon">
                        <img src="img/4-i-edu.svg" alt="">
                    </div>
                    <div class="add-services__text">
                        Обучение<br>
                        пользователей
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>

@@include('./templates/footer.tpl')
