@@include('./templates/header.tpl')

<section class="contacts">
    <h1 class="contacts__header">Контакты</h1>
    <div class="map">

        <img src="img/mask-top.svg" alt="" width="100%" class="map__mask-top">
        <img src="img/mask-bottom.svg" alt="" width="100%" class="map__mask-bottom">
        <div id="map"></div>
        <div class="map__text hidden-mobile">
            <p><strong>Юридический адрес:</strong></p>
            <p class="address">195112, г. Санкт-Петербург, Заневский пр-т,
                д. 30, к. 2, литера А, помещение 5-Н, оф. 314</p>

            <p class="phone-line"><span class="phone">+7 812 244-13-52</span>   с 9:00 до 18:00</p>
            <div class="btn-wrapper">
                <a href="#mail" class="btn js-popup">Написать нам</a>
            </div>
        </div>
    </div>
</section>

<section class="requisites">
    <div class="container">
        <div class="contact-us visible-mobile">
            <p><strong>Юридический адрес:</strong></p>
            <p class="address">195112, г. Санкт-Петербург, Заневский пр-т,
                д. 30, к. 2, литера А, помещение 5-Н, оф. 314</p>
            <div class="contact-us__work-time">с 9:00 до 18:00</div>
            <p class="contact-us__phone-line"><span class="phone">+7 812 244-13-52</span></p>
            <div class="btn-wrapper">
                <a href="#mail" class="btn js-popup">Написать нам</a>
            </div>
        </div>
        <h2>ООО «Бизнес Менеджмент Групп»</h2>
        <div class="row">
            <div class="col col--6 left-col">
                <p><strong>ИНН:</strong> 7842522152</p>
                <p><strong>КПП:</strong> 780601001</p>
                <p><strong>ОГРН:</strong> 1147847216329</p>
                <p><strong>ОКПО:</strong> 32004672</p>
            </div>
            <div class="col col--6 right-col">
                <p><strong>Клиентский отдел:</strong> <a href="mailto:1c@bmgspb.ru" class="black">1c@bmgspb.ru</a></p>
                <p><strong>Отдел сопровождения:</strong> <a href="mailto:1csupport@bmgspb.ru" class="black">1csupport@bmgspb.ru</a> </p>
                <p><strong>Часы работы:</strong> с 9:00 до 18:00 мск</p>
            </div>
        </div>
    </div>
</section>
@@include('./templates/footer.tpl')
