@@include('./templates/header.tpl')

<section class="slider">
    <div class="container slider__container">
        <h1 class="slider__title">Решения ваших бизнес-задач на 1С<br>
            с гарантией результата
        </h1>
        <div class="slider__slider js-slick">
            <div class="slide slide--1">
                <img src="img/byx.png" alt="" class="slide__img">
                <div class="slide__quote slide__quote--1">
                    Как быстро получить структу-<br> рированную информацию по отсутствующим первичным документам до сдачи отчетности?
                </div>
                <div class="slide__quote slide__quote--2">
                    Как контролировать дебиторскую и кредиторскую задолженности?
                </div>
                <div class="slide__quote slide__quote--3">
                    Как вовремя реагировать на изменения законодательства и форм отчетности?
                </div>
            </div>
            <div class="slide slide--2">
                <img src="img/director_prouzv.png" alt="" class="slide__img">
                <div class="slide__quote slide__quote--1">
                    Как построить систему
                    оперативного планирования
                    выпуска продукции?
                </div>
                <div class="slide__quote slide__quote--2">
                    Как совместить в учете
                    производство собственно
                    продукции и давальческой?
                </div>
                <div class="slide__quote slide__quote--3">
                    Как бороться<br>
                    с недостачами и пересортами?
                </div>
            </div>
            <div class="slide slide--3">
                <img src="img/torg.png" alt="" class="slide__img">
                <div class="slide__quote slide__quote--1">
                    Как оперативно получать достоверные данные управленческого учета для принятия решений?
                </div>
                <div class="slide__quote slide__quote--2">
                    Как избежать кассовых разрывов и штрафов от контролирующих органов?
                </div>
                <div class="slide__quote slide__quote--3">
                    Как повысить операционную эффективность организации?
                </div>
            </div>
            <div class="slide slide--4">
                <img src="img/cobstvennik.png" alt="" class="slide__img">
                <div class="slide__quote slide__quote--3">
                    Сколько денег можно безопасно “вынуть” из бизнеса?
                </div>
                <div class="slide__quote slide__quote--1">
                    Как получить систему показа-<br> телей для оперативного контроля деятельности организации и проведения изменений?                    </div>
                <!--div class="slide__quote slide__quote--3">
                    Как повысить операционную эффективность организации?
                </div-->
            </div>
        </div>
        <div class="slider__consultation consultation">
            <div class="consultation__text">
                Получите бесплатную консультацию
                и <strong>скидку 20%</strong> на обследование
                или выполнение первой задачи по 1С
            </div>
            <p><a class="btn js-popup consultation__btn" href="#consult">Получить консультацию</a></p>
        </div>
    </div>
    <img src="img/mask-bottom.svg" alt="" width="100%" class="slider__mask">
</section>

<section class="services">
    <div class="container services__container">
        <h2 class="services__header">Чем мы можем быть вам полезны</h2>
        <div class="row">
            <a class="services__item service" href="sell1c.html">
                <div class="service__img-wrapper">
                    <img src="img/ysluga-1.svg" alt="" class="service__img">
                </div>
                <div class="service__title">Продажа продуктов 1С</div>
                <div class="service__description">Поможем подобрать оптимальный
                    продукт 1С</div>
                <div class="service__link-wrapper">
                    <span class="service__link">Подобрать →</span>
                </div>
            </a>
            <a class="services__item service" href="configure.html">
                <div class="service__img-wrapper">
                    <img src="img/ysluga-2.svg" alt="" class="service__img">
                </div>
                <div class="service__title">Настройка и доработка 1С</div>
                <div class="service__description">Настроим продукт 1С и доработаем
                    по вашему заданию</div>
                <div class="service__link-wrapper">
                    <span class="service__link">Настроить →</span>
                </div>
            </a>
            <a class="services__item service" href="introduction.html">
                <div class="service__img-wrapper">
                    <img src="img/ysluga-3.svg" alt="" class="service__img">
                </div>
                <div class="service__title">Комплексное внедрение 1С</div>
                <div class="service__description">Создадим и запустим уникальную
                    автоматизированную систему</div>
                <div class="service__link-wrapper">
                    <span class="service__link">Запустить →</span>
                </div>
            </a>
            <a class="services__item service" href="support.html">
                <div class="service__img-wrapper">
                    <img src="img/ysluga-4.svg" alt="" class="service__img">
                </div>
                <div class="service__title">Сопровождение 1С</div>
                <div class="service__description">Решим любые проблемы с 1С,
                    проконсультируем, обучим</div>
                <div class="service__link-wrapper">
                    <span class="service__link">Консультация →</span>
                </div>
            </a>
        </div>
        <div class="services__questionary questionary js-questionary" data-step="1">
            <form class="form js-form js-questionary-form" action="/questionary/" method="POST">
                <input type="hidden" class="js-atispam" name="antispam" value="">
                <div class="row js-form-row">
                    <div class="col col--6">
                        <div class="questionary__text">
                            <div class="questionary__header">
                                Подобрать продукт 1С
                            </div>
                            <div class="questionary__description">
                                За 1 минуту найти нужный продукт,
                                решающий именно вашу проблему
                            </div>
                            <div class="questionary__back-wrapper"><a href="#" class="back js-prev-step">← Назад</a></div>
                        </div>
                    </div>
                    <div class="col col--6">
                        <div class=" questionary__form">
                            <div class="step js-step active" data-id="1">
                                <p class="questinary__step">
                                    1 из 5
                                </p>
                                <p class="questinary__question form__group">
                                    Какой вид деятельности<br>
                                    у вашей организации?
                                </p>
                                <div class="form__input-group">
                                    <div class="form__group">
                                        <input type="radio" name="activity" id="r11" checked class="form__radio-input" value="Услуги">
                                        <label for="r11"  class="form__radio-input-label">Услуги</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="radio" name="activity" id="r12"  class="form__radio-input" value="Торговля">
                                        <label for="r12"  class="form__radio-input-label">Торговля</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="radio" name="activity" id="r13"  class="form__radio-input" value="Производство">
                                        <label for="r13"  class="form__radio-input-label">Производство</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="radio" name="activity" id="r14"  class="form__radio-input" value="Другое">
                                        <label for="r14"  class="form__radio-input-label">Другое</label>
                                    </div>
                                </div>
                                <div class="form__btn-wrapper">
                                    <a href="#" class="btn js-next-step">Следующий вопрос →</a>
                                </div>
                            </div>
                            <div class="step js-step" data-id="2">
                                <p class="questinary__step">
                                    2 из 5
                                </p>
                                <p class="questinary__question form__group">
                                    Какое количество пользователей 1С предполагается?
                                </p>
                                <div class="form__input-group">
                                    <div class="form__group">
                                        <input type="radio" name="users" id="r21" checked class="form__radio-input" value="1 пользователь">
                                        <label for="r21"  class="form__radio-input-label">1 пользователь</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="radio" name="users" id="r22"  class="form__radio-input" value="до 5">
                                        <label for="r22"  class="form__radio-input-label">до 5</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="radio" name="users" id="r23"  class="form__radio-input" value="до 15">
                                        <label for="r23"  class="form__radio-input-label">до 15</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="radio" name="users" id="r24"  class="form__radio-input" value="более 15">
                                        <label for="r24"  class="form__radio-input-label">более 15</label>
                                    </div>
                                </div>
                                <div class="form__btn-wrapper">
                                    <a href="#" class="btn js-next-step">Следующий вопрос →</a>
                                </div>
                            </div >
                            <div class="step js-step" data-id="3">
                                <p class="questinary__step">
                                    3 из 5
                                </p>
                                <p class="questinary__question form__group">
                                    Какие контуры учета необходимо автоматизировать?
                                </p>
                                <div class="form__input-group">
                                    <div class="form__group">
                                        <input type="checkbox" name="conturs[]" id="c31" checked class="form__checkbox-input" value="Бухгалтерский и налоговый учет">
                                        <label for="c31"  class="form__checkbox-input-label">Бухгалтерский и налоговый учет</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="checkbox" name="conturs[]" id="c32"  class="form__checkbox-input" value="Расчет и выплата з/п">
                                        <label for="c32"  class="form__checkbox-input-label">Расчет и выплата з/п</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="checkbox" name="conturs[]" id="c33"  class="form__checkbox-input" value="Торговый и складской учет">
                                        <label for="c33"  class="form__checkbox-input-label">Торговый и складской учет</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="checkbox" name="conturs[]" id="c34"  class="form__checkbox-input" value="Производственный учет">
                                        <label for="c34"  class="form__checkbox-input-label">Производственный учет</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="checkbox" name="conturs[]" id="c35"  class="form__checkbox-input" value="Управленческий учет (бюджетирование)">
                                        <label for="c35"  class="form__checkbox-input-label">Управленческий учет (бюджетирование)</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="checkbox" name="conturs[]" id="c36"  class="form__checkbox-input" value="Документооборот">
                                        <label for="c36"  class="form__checkbox-input-label">Документооборот</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="checkbox" name="conturs[]" id="c37"  class="form__checkbox-input" value="CRM">
                                        <label for="c37"  class="form__checkbox-input-label">CRM</label>
                                    </div>

                                </div>
                                <div class="form__btn-wrapper">
                                    <a href="#" class="btn js-next-step">Следующий вопрос →</a>
                                </div>
                            </div>
                            <div class="step js-step" data-id="4">
                                <p class="questinary__step">
                                    4 из 5
                                </p>
                                <p class="questinary__question form__group">
                                    Какой функционал бухучета для вас необходим?
                                </p>
                                <div class="form__input-group">
                                    <div class="form__group">
                                        <input type="checkbox" name="functional[]" id="c41" checked class="form__checkbox-input" value="Подготовка бухгалтерской и налоговой отчетности">
                                        <label for="c41"  class="form__checkbox-input-label">Подготовка бухгалтерской и налоговой отчетности</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="checkbox" name="functional[]" id="c42"  class="form__checkbox-input" value="Ведение налогового учета по налогу на прибыль">
                                        <label for="c42"  class="form__checkbox-input-label">Ведение налогового учета по налогу на прибыль</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="checkbox" name="functional[]" id="c43"  class="form__checkbox-input" value="Налоговый учет: УСН и ЕНВД">
                                        <label for="c43"  class="form__checkbox-input-label">Налоговый учет: УСН и ЕНВД</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="checkbox" name="functional[]" id="c44"  class="form__checkbox-input" value="Ведение партионного учета">
                                        <label for="c44"  class="form__checkbox-input-label">Ведение партионного учета</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="checkbox" name="functional[]" id="c45"  class="form__checkbox-input" value="Учет материально-производственных запасов">
                                        <label for="c45"  class="form__checkbox-input-label">Учет материально-производственных запасов</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="checkbox" name="functional[]" id="c46"  class="form__checkbox-input" value="Другие задачи учета">
                                        <label for="c46"  class="form__checkbox-input-label">Другие задачи учета</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="checkbox" name="functional[]" id="c47"  class="form__checkbox-input" value="Не знаю, что выбрать">
                                        <label for="c47"  class="form__checkbox-input-label">Не знаю, что выбрать</label>
                                    </div>

                                </div>
                                <div class="form__btn-wrapper">
                                    <a href="#" class="btn js-next-step">Следующий вопрос →</a>
                                </div>
                            </div>
                            <div class="step js-step" data-id="5">
                                <p class="questinary__step">
                                    5 из 5
                                </p>
                                <p class="questinary__question form__group">
                                    Нужна ли Вам возможность доработки функционала<br>
                                    программы?
                                </p>
                                <div class="form__input-group">
                                    <div class="form__group">
                                        <input type="radio" name="scalability" id="r51" checked class="form__radio-input" value="Да">
                                        <label for="r51"  class="form__radio-input-label">Да</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="radio" name="scalability" id="r52"  class="form__radio-input" value="Нет">
                                        <label for="r52"  class="form__radio-input-label">Нет</label>
                                    </div>
                                </div>
                                <div class="form__btn-wrapper">
                                    <a href="#" class="btn js-next-step">Подобрать продукт →</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step js-step step--6" data-id="6">
                    <div class="step__header">Конфигурация подобрана!</div>
                    <p class="step__description">Оставьте свой номер телефона<br>
                    для получения результата.</p>
                    <div class="form__group">
                        <input type="tel" class="form__input-text js-input js-phone js-required" value="" placeholder="Телефон">
                    </div>
                    <div class="form__group">
                        <button class="btn" type="submit">Получить результат</button>
                    </div>

                </div>
                <div class="form__success js-form__success questionary__success" style="display: none">
                    <div class="questionary__success-title">Спасибо!</div>
                    <p class="questionary__success-description">Мы перезвоним в ближайшее время<br>
                        на номер <span class="questionary__success-phone js-form-success-phone">+7 921 134-56-78</span></p>
                </div>
            </form>


        </div>
    </div>
</section>

<section class="schema">
    <div class="container">
        <h2>Выберите удобную схему работы или предложите свою</h2>
        <div class="tabs schema__tabs  js-tabs">
            <div class="text-center">
                <div class="tabs__nav  js-tabs-nav">
                    <a href="#" class="tabs__link js-tabs__link">По проектам</a>
                    <a href="#" class="tabs__link js-tabs__link active">По задачам</a>
                    <a href="#" class="tabs__link js-tabs__link">Аутсорсинг</a>
                    <a href="#" class="tabs__link js-tabs__link">Аутстаффинг</a>
                </div>
            </div>
            <div class="tabs__content">
                <div class="tabs__tab js-tabs__tab">
                    <div class="row">
                        <div class="col col--6">
                            <img src="img/sxema1.png" alt="" class="img-responsive">
                        </div>
                        <div class="col col--6">
                            <div class="tabs__tab-header">
                                Бизнес-результат
                            </div>
                            <div class="tabs__tab-text">
                                <p>Отталкиваемся от необходимого Вам бизнес-результата. Мы проводим экспресс-обследование процессов Вашего предприятия и используемых учетных систем, моделируем процессы в целевой учетной системе. В результате получаем Техническое задание, бюджет и сроки реализации проекта.</p>
                                <p>Согласуем проект с Вами, дорабатываем учетную систему, и после финального тестирования и обучения, запускаем в эксплуатацию. При сдаче проекта мы демонстрируем достижение согласованного на начальном этапе бизнес-результата.</p>
                            </div>
                            <div class="tabs__tab-btn-wrapper">
                                <a href="#consult" class="btn js-popup">Отправить заявку</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs__tab js-tabs__tab active">
                    <div class="row">
                        <div class="col col--6">
                            <img src="img/sxema2.png" alt="" class="img-responsive">
                        </div>
                        <div class="col col--6">
                            <div class="tabs__tab-header">
                                Решаем ваши задачи
                            </div>
                            <div class="tabs__tab-text">
                                <p>Вы формулируете конкретную задачу на доработку учетной системы, оказание консультации по ведению учета и т.д. Мы оцениваем задачу и согласуем с вами сроки и стоимость.</p>
                                <p>Если вас все устраивает, программист производит доработку, оказывает консультацию. Вы принимаете работу и наслаждаетесь результатом.</p>
                                <p>По завершению отчетного периода (как правило месяц) мы предоставляем вам подробный отчет по задачам и трудозатратам программистов за период.</p>
                            </div>
                            <div class="tabs__tab-btn-wrapper">
                                <a href="#consult" class="btn js-popup">Отправить заявку</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs__tab js-tabs__tab">
                    <div class="row">
                        <div class="col col--6">
                            <img src="img/sxema3.png" alt="" class="img-responsive">
                        </div>
                        <div class="col col--6">
                            <div class="tabs__tab-header">
                                Управление автоматизацией
                            </div>
                            <div class="tabs__tab-text">
                                <p>Вы передаете нам функции управления автоматизацией процессов и сопровождения пользователей 1С Вашего предприятия. С Вами работает персональный бизнес-аналитик, который грузиться в процессы Вашего предприятия, составляет план автоматизации, обеспечивает его реализацию, выстраивает и контролирует процесс поддержки пользователей.</p>
                                <p>Работа может происходить как в рамках согласованного бюджета на автоматизацию, так и по фактическим трудозатратам, в любом случае предоставляется подробный отчет о затратах на автоматизацию.</p>
                            </div>
                            <div class="tabs__tab-btn-wrapper">
                                <a href="#consult" class="btn js-popup">Отправить заявку</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs__tab js-tabs__tab">
                    <div class="row">
                        <div class="col col--6">
                            <img src="img/sxema4.png" alt="" class="img-responsive">
                        </div>
                        <div class="col col--6">
                            <div class="tabs__tab-header">
                                Дополнительные ресурсы
                            </div>
                            <div class="tabs__tab-text">
                                <p>У Вас уже есть большие проекты, где постоянно меняются процессы и задачи, и есть свой руководитель проектов или специалисты, но не хватает ресурсов? Мы можем предложить full-time человека, который работает на территории клиента, и на 100% в его распоряжении.</p>
                                <p>Мы можем предоставить на проекты:</p>
                                <ul class="unmarked-list">
                                    <li class="unmarked-list__list-item">Бизнес-аналитиков и методологов</li>
                                    <li class="unmarked-list__list-item">Ведущих программистов и кодеров</li>
                                    <li class="unmarked-list__list-item">Руководителей проектов</li>
                                </ul>
                            </div>
                            <div class="tabs__tab-btn-wrapper">
                                <a href="#consult" class="btn js-popup">Отправить заявку</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="digits digits--index">
    <div class="container">
        <div class="row row--1">
            <div class="col col--6 digits__digit digits__digit--1">
                <div class="digits__value">90 <span class="percent"> %</span></div>
                <div class="digits value-description">клиентов остаются<br>
                    с нами навсегда
                </div>
            </div>
            <div class="col-col--6 digits__text">
                <p class="digits__header">Глубокая интеграция и фокусировка на бизнесе</p>
                <p class="digits__description">Мы сосредоточены на качественных показателях работы и для нас важно реально помочь клиенту решить актуальные бизнес-задачи.</p>
                <br>
                <p class="digits__header">Профессионализм по разумной цене</p>
                <p class="digits__description">
                    Никаких стажеров и «фрилансеров». В нашей команде только сертифицированые специалисты с подтвержденным опытом и любовью к своему делу. При этом мы оптимизируем свою работу таким образом, чтобы сохранять среднерыночные ставки.
                </p>
            </div>
        </div>
        <div class="row row--2">
            <div class="col col--6 digits__text">
                <p class="digits__header">Гарантированный результат</p>
                <p class="digits__description"> Мы всегда доводим проект до успешного внедрения. Мы не беремся за проекты, если мы не уверены в успешном его завершении. На текущий момент у нас нет ни одного проекта, который был бы брошен на полпути.</p>
                <br>
                <p class="digits__header">Гибкость в работе и клиентоориентированность</p>
                <p class="digits__description">Для нас важно, чтобы вы получали удовольствие от взаимодействия с нашей компанией. Мы внимательно относимся к пожеланиям наших клиентов, и проводим реальные изменения руководствуясь обратной связью. С нами легко и комфортно.
                </p>
            </div>
            <div class="col col--6 digits__digit digits__digit--2">
                <div class="digits__value">100 <span class="percent"> %</span></div>
                <div class="digits value-description">сотрудников имеют<br>
                    сертификат уровня<br>
                    «1С: Специалист»
                </div>
            </div>
        </div>
    </div>
</section>

<section class="catch">
    <img src="img/catch-bg.svg" alt="" width="100%" class="catch__bg">
        <div class="catch__content">
            <p class="catch__text">
                Получите бесплатную консультацию и скидку 20%<br>
                на обследование или выполнение первой задачи по 1С
            </p>
            <div class="catch__btn-wrapper text-center">
                <a href="#consult" class="btn js-popup">Отправить заявку</a>
            </div>
        </div>

</section>

<section class="partners">
    <div class="container">
        <div class="partners__header">
            Компании, которые мы автоматизируем и сопровождаем по 1С
        </div>
        <div class="partners__logos">
            <div class="partners__row hidden-mobile">
                <img src="img/company1.png" alt="" class="partners__logo">
                <img src="img/company2.png" alt="" class="partners__logo">
                <img src="img/company3.png" alt="" class="partners__logo">
                <img src="img/company4.png" alt="" class="partners__logo">
            </div>
            <div class="partners__row hidden-mobile">
                <img src="img/company5.png" alt="" class="partners__logo">
                <img src="img/company6.png" alt="" class="partners__logo">
                <img src="img/company7.png" alt="" class="partners__logo">
            </div>
            <div class="partners__row visible-mobile">
                <img src="img/company1.png" alt="" class="partners__logo">
                <img src="img/company2.png" alt="" class="partners__logo">
            </div>
            <div class="partners__row visible-mobile">
                <img src="img/company3.png" alt="" class="partners__logo">
                <img src="img/company4.png" alt="" class="partners__logo">
            </div>
            <div class="partners__row visible-mobile">
                <img src="img/company5.png" alt="" class="partners__logo partners__logo--fw">
            </div>
            <div class="partners__row visible-mobile">
                <img src="img/company6.png" alt="" class="partners__logo">
                <img src="img/company7.png" alt="" class="partners__logo">
            </div>
        </div>
    </div>
</section>

@@include('./templates/footer.tpl')
