@@include('./templates/header.tpl')
<div class="introduction">
    <section class="content">
        <div class="content__header">
            <h1 class="content__title">Комплексное внедрение 1С</h1>
            <div class="container">
                <div class="introduction__quote introduction__quote--1">
                    Что нужно сделать, чтобы получать
                    достоверные данные о финансовом
                    результате?
                </div>
                <div class="introduction__quote introduction__quote--2">
                    В программе 1С при попытке
                    запустить ведение учета столкнулись
                    со сложностями и особенностями
                    вашего бизнеса?
                </div>
                <div class="introduction__quote introduction__quote--3">
                    Необходимо автоматизировать новый
                    блок, который в вашей 1С отсутствует
                    или реализован частично?
                </div>
                <div class="introduction__consultation">
                    <p>
                        Обратитесь к нам за бесплатной консультацией,
                        наши опытные бизнес-аналитики составят
                        для вас пошаговый план действий для получения
                        желаемого результата внедрения 1С.
                    </p>
                    <p><a href="#consult" class="btn js-popup">Получить консультацию</a></p>
                </div>
            </div>
            <img src="img/mask-bottom-grey.svg" alt="" class="content__mask hidden-mobile">
        </div>
    </section>

    <section class="introduction__steps-list steps-list">
        <div class="container">
            <div class="row">
                <div class="col col--6 steps-list__img-wrapper">
                    <img src="img/introduction.png" alt="" class="img-responsive hidden-mobile">
                    <img src="img/anton.png" alt="" class="img-responsive visible-mobile">
                </div>
                <div class="col col--6">
                    <h2 class="steps-list__title">Для успешного проектного внедрения
                        программы 1С вам будет необходимо:</h2>
                    <ul class="steps-list__list unmarked-list">
                        <li class="unmarked-list__list-item unmarked-list__list-item--red">Составить подробное описание текущей технологии работы
                        по всем блокам;</li>
                        <li class="unmarked-list__list-item unmarked-list__list-item--red">Проанализировать, актуализировать и утвердить описанные процессы;
                        Подобрать наиболее подходящую конфигурацию 1С;</li>
                        <li class="unmarked-list__list-item unmarked-list__list-item--red">Провести моделирование описанной технологии работы
                        в программе, и выявить отклонения от типовой логики,
                        которые нужно доработать под ваши процессы;</li>
                        <li class="unmarked-list__list-item unmarked-list__list-item--red">Составить и Техническое задание для разработчиков (программистов);
                        <li class="unmarked-list__list-item unmarked-list__list-item--red">Составить план-график разработки по задачам;</li>
                        <li class="unmarked-list__list-item unmarked-list__list-item--red">Контролировать разработку, тестировать корректность
                        и качество кода;</li>
                        <li class="unmarked-list__list-item unmarked-list__list-item--red">Разработать пользовательские инструкции, обучить пользователей;</li>
                        <li class="unmarked-list__list-item unmarked-list__list-item--red">Провести пользовательское тестирование (сквозные примеры);</li>
                        <li class="unmarked-list__list-item unmarked-list__list-item--red">Запустить систему в эксплуатацию, оказать консультации после запуска;</li>
                        <li class="unmarked-list__list-item unmarked-list__list-item--red">Задокументировать изменения в программе.</li>
                    </ul>
                    <div class="steps-list__text">
                        <strong>Внедрение любой системы автоматизации</strong> — это нетривиальный процесс требующий глубокого погружения в автоматизируемые процессы. Кроме того, это серьезное изменение, проведение которого требует подготовки персонала.
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="introduction__compare compare">
        <div class="container">
            <h3 class="compare__title">
                Технологии внедрения программ 1С, которые используем мы:
            </h3>
            <div class="visible-mobile">
                <select class="js-select " name="state">
                    <option value="2" selected>Быстрое внедрение</option>
                    <option value="3">Проектное внедрение (PMBoK)</option>
                    <option value="4">Пошаговое внедрение (Agile)</option>
                </select>
            </div>
            <table class="table js-mobile-table price">
                <thead>
                    <tr>
                        <th></th>
                        <th>Быстрое<br> внедрение</th>
                        <th>Проектное внедрение<br> (PMBoK)</th>
                        <th>Пошаговое внедрение<br> (Agile)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Основные отличия технологии внедрения</td>
                        <td>Запуск типового продукта 1С без существенных изменений по отработанной технологии, быстро и недорого</td>
                        <td>Максимальная проработка проекта перед запуском в разработку. Подробное описание процесов и их моделирование в системе. Планирование достижения согласованного результата, нежелательные отклонения от плана в процессе. Подробная документация</td>
                        <td>Составления списка основных задач автоматизации и их приоритезация. Движение небольшими улучшениями до MVP. Согласование каждого улучшения. Постепенное определении требований к результату. Эволюционное развитие системы</td>
                    </tr>
                    <tr>
                        <td>Каким компаниям подходит</td>
                        <td>Небольшим компаниям с типовыми процессами</td>
                        <td>Компаниям сегмента среднего и крупного бизнеса с четкими потребностями в автоматизации</td>
                        <td>Любым компаниям, в том числе, если нет четкого понимания конечного результата</td>
                    </tr>
                    <tr>
                        <td>Какие бизнес-процессы автоматизируются</td>
                        <td>В основном регламентированный учет с элементами автоматизации управленческих процессов</td>
                        <td colspan="2">Комплексная автоматизация предприятия, управленческие и производственные процессы + регламентированный учет</td>
                    </tr>
                    <tr>
                        <td>Бюджет на внедрение</td>
                        <td>От 60 000 ₽</td>
                        <td>Определяется индивидуально, в зависимости от плановых трудозатрат на реализацию проекта. Плановая стоимость рассчитывается после моделирования процессов
                            в программе 1С</td>
                        <td>Как правило согласуется еже месячный комфортный бюджет на автоматизацию
                            в рамках которого происходит разработка. Управление бюждетом более гибкое</td>
                    </tr>
                    <tr>
                        <td>Сроки внедрения</td>
                        <td>От 3-х рабочих дней</td>
                        <td>Определяется индивидуально в зависимости от сложности проекта, плановый срок озвучивается после моделирования процессов
                            в программе 1С</td>
                        <td>Заранее не прогнозируется, сроки уточняются в процесссе работы над проектом после каждой итерации</td>
                    </tr>
                    <tr>
                        <td>Объем документирования</td>
                        <td>Типовые инструкции
                            в программе</td>
                        <td>Максимальный</td>
                        <td>Минимально достаточный</td>
                    </tr>
                    <tr>
                        <td>Выявление и согласование требований к системе</td>
                        <td>Отсутствует</td>
                        <td>Все требования согласовываются до начала разработки</td>
                        <td>Итерационно, перед каждым улучшением</td>
                    </tr>
                    <tr>
                        <td>Адаптация програмы 1С под специфику вашего бизнеса</td>
                        <td>Отсутствует</td>
                        <td>Без ограничений (максимальный)</td>
                        <td>Без ограничений (максимальный)</td>
                    </tr>
                    <tr>
                        <td>Ключевые риски внедрения по технологии</td>
                        <td>Типовые возмжности программы могут не учитывать особенности бизнеса. Если это не было предусмотрено заранее, возникнет необходимость доработки программы</td>
                        <td>При наличии необпределенности в бизнес-процессах или непредусмотренных перед стартом разработки особенностей особенностей, разработанная система моежет не полностью соответсвовать потребностям. Это приведет к дополнительным доработкам, а также увелиит бюджет и срок внедрения</td>
                        <td>Фиксируется только укрупненный список требований к системе
                            и ориентировочный план-график. Декомпозиция требований к системе и уточнение бюджета и сроков реализации осуществляется в ходе проекта. Это приводит
                            к отсутствию точного прогноза бюджета и сроков всего проекта</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section class="introduction__catch catch">
        <img src="img/catch-bg.svg" alt="" width="100%" class="catch__bg">
        <div class="catch__content">
            <p class="catch__text">
                Мы подберем технологию внедрения, при помощи которой мы вместе
                с вами достигнем необходимого результата внедрения при оптимальных затратах.
            </p>
            <div class="catch__btn-wrapper text-center">
                <a href="#callback" class="btn js-popup">Отправить заявку</a>
            </div>
        </div>

    </section>

</div>

@@include('./templates/footer.tpl')
