@@include('./templates/header.tpl')

<section class="projects content">

    <div class="content__header">
        <h1 class="content__title">Проекты</h1>
        <img src="img/mask-bottom.svg" alt="" class="content__mask" width="100%">
    </div>

    <div class="container">
        <div class="project__digits digits">
            <div class="row">
                <div class="col col--6 digits__digit digits__digit--projects">
                    <div class="digits__value">35</div>
                    <div class="digits value-description">
                        успешно<br>
                        реализованных<br>
                        проектов
                    </div>
                </div>
                <div class="col-col--6 digits__text">
                    <p class="digits__description">
                        В нашем портфолио более 30 успешно реализованных проектов автоматизации компаний разных отраслей
                        и размеров, а также миллионы рублей, сэкономленные нашим клиентам в результате нашей работы. У нас нет
                        ни одного не успешно завершенного проекта.
                    </p>
                </div>
            </div>
        </div>

        <div class="projects__row projects__row--1 row">
            <div class="projects__description description">
                Предприятия оптовой
                и розничной торговли
            </div>
            <div class="projects__project">
                Автоматизация учета бизнес-процессов (продажи, закупки, склад) на <strong>«1С: Управление торговлей 11»</strong>, настройка обмена с Бухгалтерией.
            </div>
            <div class="projects__project">
                Переход с конфигурации «1С: Управление торговлей 10.3» на <strong>«1С: Управление торговлей 11.4»</strong> с переносом необходимых доработок.
            </div>
            <div class="projects__project">
                Внедрение управленческого учета
                и формирование достоверного финансового результата за период в <strong>«1С: Управление торговлей 11.3»</strong>.
            </div>
        </div>
        <div class="projects__row projects__row--2 row">
            <div class="projects__description description">
                Предприятия сферы услуг
            </div>
            <div class="projects__project">
                Разработка механизма
                для консолидации учета заработной платы на базе <strong>«1С :ЗУП 3.1»</strong>
            </div>
            <div class="projects__project">
                Разработка информационной системы для консолидации финансового результата на базе <strong>«1С: БСП»</strong> (фактически с нуля)        </div>
            <div class="projects__project">
                Внедрение учета процесса продаж, отчетности
                по продажам на базе <strong>Битрикс24.CRM</strong>
            </div>
            <div class="projects__project">
                Автоматизация процесса учета договорной работы на базе
                <strong>«1С: Документооборот 8»</strong>
            </div>
        </div>
        <div class="projects__row projects__row--3 row">
            <div class="projects__description description">
                Предприятия сферы производства
            </div>
            <div class="projects__project">
                Переход c самописной конфигурации на платформе 1С 7.7. на <strong>«1С:Коплексная автоматизация 2.4»</strong>
            </div>
            <div class="projects__project">
                Переход с конфигурации ПуБ на платформе 1С 7.7. на <strong>«1С:Коплексная автоматизация 2.4»</strong>
            </div>
            <div class="projects__project">
                Автоматизация оперативаного учета МПЗ, интеграция самописной конфигурации на базе <strong>1С c SAP</strong>
            </div>
        </div>
    </div>

</section>

@@include('./templates/footer.tpl')
