@@include('./templates/header.tpl')

<section class=" content">
    <div class="content__header">
        <h1 class="content__title">Продажа программ 1С</h1>
        <h3 class="content__subtitle">Покупая у нас, вы получаете:</h3>
        <div class="container">
            <div class="row sell__profits">
                <div class="sell__profit profit">
                    <div class="profit__icon-wrapper">
                        <img class="profit__icon profit__icon--delivery" src="img/icons1-delivery.svg" alt="">
                    </div>
                    <div class="profit__text">
                        Бесплатная доставка
                        в офис или на электронную почту
                    </div>
                </div>
                <div class="sell__profit profit">
                    <div class="profit__icon-wrapper">
                        <img class="profit__icon profit__icon--load" src="img/icons2-load.svg" alt="">
                    </div>
                    <div class="profit__text">
                        Бесплатная установка при доставке или удаленно (кроме базовых версий)
                    </div>
                </div>
                <div class="sell__profit profit">
                    <div class="profit__icon-wrapper">
                        <img class="profit__icon profit__icon--headphones" src="img/icons3-naush.svg" alt="">
                    </div>
                    <div class="profit__text">
                        Сопровождение ИТС
                        и линию консультаций на 3 месяца бесплатно
                    </div>
                </div>
                <div class="sell__profit profit">
                    <div class="profit__icon-wrapper">
                        <img class="profit__icon profit__icon--discount" src="img/icons4-discount.svg" alt="">
                    </div>
                    <div class="profit__text">
                        Скидки до 20%
                        на подготовку ТЗ и внедрение программы 1С
                    </div>
                </div>
            </div>
        </div>
        <img src="img/mask-bottom.svg" alt="" class="content__mask" width="100%">
    </div>
</section>

<section class="sell__questionary">
    <div class="container">
        <div class="questionary js-questionary" data-step="1">
            <form class="form js-form js-questionary-form" action="/questionary/" method="POST">
                <div class="row js-form-row">
                    <div class="col col--6">
                        <div class="questionary__text">
                            <div class="questionary__header">
                                Подобрать продукт 1С
                            </div>
                            <div class="questionary__description">
                                <p>В каталоге программных продуктов<br>
                                Фирмы 1С представлены программы
                                для автоматизации процессов компаний
                                различных видов деятельности и масштабов.
                                </p>
                                <br>
                                <p>
                                За 1 минуту мы подберем нужный продукт,
                                решающий именно вашу проблему
                                </p>
                            </div>
                            <div class="questionary__back-wrapper"><a href="#" class="back js-prev-step">← Назад</a></div>
                        </div>
                    </div>
                    <div class="col col--6">
                        <div class=" questionary__form">
                            <div class="step js-step active" data-id="1">
                                <p class="questinary__step">
                                    1 из 5
                                </p>
                                <p class="questinary__question form__group">
                                    Какой вид деятельности<br>
                                    у вашей организации?
                                </p>
                                <div class="form__input-group">
                                    <div class="form__group">
                                        <input type="radio" name="activity" id="r11" checked class="form__radio-input" value="Услуги">
                                        <label for="r11"  class="form__radio-input-label">Услуги</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="radio" name="activity" id="r12"  class="form__radio-input" value="Торговля">
                                        <label for="r12"  class="form__radio-input-label">Торговля</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="radio" name="activity" id="r13"  class="form__radio-input" value="Производство">
                                        <label for="r13"  class="form__radio-input-label">Производство</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="radio" name="activity" id="r14"  class="form__radio-input" value="Другое">
                                        <label for="r14"  class="form__radio-input-label">Другое</label>
                                    </div>
                                </div>
                                <div class="form__btn-wrapper">
                                    <a href="#" class="btn js-next-step">Следующий вопрос →</a>
                                </div>
                            </div>
                            <div class="step js-step" data-id="2">
                                <p class="questinary__step">
                                    2 из 5
                                </p>
                                <p class="questinary__question form__group">
                                    Какое количество пользователей 1С предполагается?
                                </p>
                                <div class="form__input-group">
                                    <div class="form__group">
                                        <input type="radio" name="users" id="r21" checked class="form__radio-input" value="1 пользователь">
                                        <label for="r21"  class="form__radio-input-label">1 пользователь</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="radio" name="users" id="r22"  class="form__radio-input" value="до 5">
                                        <label for="r22"  class="form__radio-input-label">до 5</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="radio" name="users" id="r23"  class="form__radio-input" value="до 15">
                                        <label for="r23"  class="form__radio-input-label">до 15</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="radio" name="users" id="r24"  class="form__radio-input" value="более 15">
                                        <label for="r24"  class="form__radio-input-label">более 15</label>
                                    </div>
                                </div>
                                <div class="form__btn-wrapper">
                                    <a href="#" class="btn js-next-step">Следующий вопрос →</a>
                                </div>
                            </div >
                            <div class="step js-step" data-id="3">
                                <p class="questinary__step">
                                    3 из 5
                                </p>
                                <p class="questinary__question form__group">
                                    Какие контуры учета необходимо автоматизировать?
                                </p>
                                <div class="form__input-group">
                                    <div class="form__group">
                                        <input type="checkbox" name="conturs[]" id="c31" checked class="form__checkbox-input" value="Бухгалтерский и налоговый учет">
                                        <label for="c31"  class="form__checkbox-input-label">Бухгалтерский и налоговый учет</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="checkbox" name="conturs[]" id="c32"  class="form__checkbox-input" value="Расчет и выплата з/п">
                                        <label for="c32"  class="form__checkbox-input-label">Расчет и выплата з/п</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="checkbox" name="conturs[]" id="c33"  class="form__checkbox-input" value="Торговый и складской учет">
                                        <label for="c33"  class="form__checkbox-input-label">Торговый и складской учет</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="checkbox" name="conturs[]" id="c34"  class="form__checkbox-input" value="Производственный учет">
                                        <label for="c34"  class="form__checkbox-input-label">Производственный учет</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="checkbox" name="conturs[]" id="c35"  class="form__checkbox-input" value="Управленческий учет (бюджетирование)">
                                        <label for="c35"  class="form__checkbox-input-label">Управленческий учет (бюджетирование)</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="checkbox" name="conturs[]" id="c36"  class="form__checkbox-input" value="Документооборот">
                                        <label for="c36"  class="form__checkbox-input-label">Документооборот</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="checkbox" name="conturs[]" id="c37"  class="form__checkbox-input" value="CRM">
                                        <label for="c37"  class="form__checkbox-input-label">CRM</label>
                                    </div>

                                </div>
                                <div class="form__btn-wrapper">
                                    <a href="#" class="btn js-next-step">Следующий вопрос →</a>
                                </div>
                            </div>
                            <div class="step js-step" data-id="4">
                                <p class="questinary__step">
                                    4 из 5
                                </p>
                                <p class="questinary__question form__group">
                                    Какой функционал бухучета для вас необходим?
                                </p>
                                <div class="form__input-group">
                                    <div class="form__group">
                                        <input type="checkbox" name="functional[]" id="c41" checked class="form__checkbox-input" value="Подготовка бухгалтерской и налоговой отчетности">
                                        <label for="c41"  class="form__checkbox-input-label">Подготовка бухгалтерской и налоговой отчетности</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="checkbox" name="functional[]" id="c42"  class="form__checkbox-input" value="Ведение налогового учета по налогу на прибыль">
                                        <label for="c42"  class="form__checkbox-input-label">Ведение налогового учета по налогу на прибыль</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="checkbox" name="functional[]" id="c43"  class="form__checkbox-input" value="Налоговый учет: УСН и ЕНВД">
                                        <label for="c43"  class="form__checkbox-input-label">Налоговый учет: УСН и ЕНВД</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="checkbox" name="functional[]" id="c44"  class="form__checkbox-input" value="Ведение партионного учета">
                                        <label for="c44"  class="form__checkbox-input-label">Ведение партионного учета</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="checkbox" name="functional[]" id="c45"  class="form__checkbox-input" value="Учет материально-производственных запасов">
                                        <label for="c45"  class="form__checkbox-input-label">Учет материально-производственных запасов</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="checkbox" name="functional[]" id="c46"  class="form__checkbox-input" value="Другие задачи учета">
                                        <label for="c46"  class="form__checkbox-input-label">Другие задачи учета</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="checkbox" name="functional[]" id="c47"  class="form__checkbox-input" value="Не знаю, что выбрать">
                                        <label for="c47"  class="form__checkbox-input-label">Не знаю, что выбрать</label>
                                    </div>

                                </div>
                                <div class="form__btn-wrapper">
                                    <a href="#" class="btn js-next-step">Следующий вопрос →</a>
                                </div>
                            </div>
                            <div class="step js-step" data-id="5">
                                <p class="questinary__step">
                                    5 из 5
                                </p>
                                <p class="questinary__question form__group">
                                    Нужна ли Вам возможность доработки функционала<br>
                                    программы?
                                </p>
                                <div class="form__input-group">
                                    <div class="form__group">
                                        <input type="radio" name="scalability" id="r51" checked class="form__radio-input" value="Да">
                                        <label for="r51"  class="form__radio-input-label">Да</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="radio" name="scalability" id="r52"  class="form__radio-input" value="Нет">
                                        <label for="r52"  class="form__radio-input-label">Нет</label>
                                    </div>
                                </div>
                                <div class="form__btn-wrapper">
                                    <a href="#" class="btn js-next-step">Подобрать продукт →</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step js-step step--6" data-id="6">
                    <div class="step__header">Конфигурация подобрана!</div>
                    <p class="step__description">Оставьте свой номер телефона<br>
                        для получения результата.</p>
                    <div class="form__group">
                        <input type="tel" class="form__input-text js-input js-phone js-required" value="" placeholder="Телефон">
                    </div>
                    <div class="form__group">
                        <button class="btn" type="submit">Получить результат</button>
                    </div>

                </div>
                <div class="form__success js-form__success questionary__success" style="display: none">
                    <div class="questionary__success-title">Спасибо!</div>
                    <p class="questionary__success-description">Мы перезвоним в ближайшее время<br>
                        на номер <span class="questionary__success-phone js-form-success-phone">+7 921 134-56-78</span></p>
                </div>
            </form>
        </div>
    </div>

</section>

<section class="sell__products products">
    <div class="container">
        <h2 class="products__title">Продукты 1С</h2>
        <div class="row products__row">
            <div class="product js-popup">
                <div class="product__img-wrapper">
                    <img src="img/product1.png" alt="" class="product__img">
                </div>
                <div class="product__text">
                    <div class="product__title">1С: Бухгалтерия 8.3</div>
                    <div class="product__description">
                        Автоматизация бухгалтерского и налогового учета, подготовка регламентной отчетности
                    </div>
                    <div class="product__buy-wrapper">
                        <a href="#" class="product__buy js-popup">Купить от <strong class="product__price">4 800 ₽ </strong>→</a>
                    </div>
                </div>
            </div>
            <div class="product js-popup">
                <div class="product__img-wrapper">
                    <img src="img/product2.png" alt="" class="product__img">
                </div>
                <div class="product__text">
                    <div class="product__title">1С: Зарплата и Управление Персоналом 8.3</div>
                    <div class="product__description">
                        Кадровый учет и расчет заработной платы персонала
                    </div>
                    <div class="product__buy-wrapper">
                        <a href="#" class="product__buy js-popup">Купить от <strong class="product__price">7 400 ₽ </strong>→</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row products__row">
            <div class="product js-popup">
                <div class="product__img-wrapper">
                    <img src="img/product3.png" alt="" class="product__img">
                </div>
                <div class="product__text">
                    <div class="product__title">1С: Управление торговлей</div>
                    <div class="product__description">
                        Автоматизация оперативного и управленческого учета
                        в торговле, анализ
                        и планирование торговых операций
                    </div>
                    <div class="product__buy-wrapper">
                        <a href="#" class="product__buy js-popup">Купить от <strong class="product__price">6 700 ₽ </strong>→</a>
                    </div>
                </div>
            </div>
            <div class="product js-popup">
                <div class="product__img-wrapper">
                    <img src="img/product4.png" alt="" class="product__img">
                </div>
                <div class="product__text">
                    <div class="product__title">1С: Розница</div>
                    <div class="product__description">
                        Решение для автоматизации небольших розничных магазинов
                    </div>
                    <div class="product__buy-wrapper">
                        <a href="#" class="product__buy js-popup">Купить от <strong class="product__price">3 300 ₽ </strong>→</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row products__row">
            <div class="product js-popup">
                <div class="product__img-wrapper">
                    <img src="img/product5.png" alt="" class="product__img">
                </div>
                <div class="product__text">
                    <div class="product__title">1С: Управление нашей фирмой</div>
                    <div class="product__description">
                        Все самое необходимое для нефискального оперативного учета, контроля, анализа
                        и планирования
                    </div>
                    <div class="product__buy-wrapper">
                        <a href="#" class="product__buy js-popup">Купить от <strong class="product__price">4 600 ₽ </strong>→</a>
                    </div>
                </div>
            </div>
            <div class="product js-popup">
                <div class="product__img-wrapper">
                    <img src="img/product6.png" alt="" class="product__img">
                </div>
                <div class="product__text">
                    <div class="product__title">1С: Комплексная автоматизация</div>
                    <div class="product__description">
                        Управленческий, бухгалтерский и налоговый учет одной или нескольких организаций в единой информационной базе
                    </div>
                    <div class="product__buy-wrapper">
                        <a href="#" class="product__buy js-popup">Купить от <strong class="product__price">61 700 ₽ </strong>→</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row products__row">
            <div class="product js-popup">
                <div class="product__img-wrapper">
                    <img src="img/product7.png" alt="" class="product__img">
                </div>
                <div class="product__text">
                    <div class="product__title">1С: Документооборот</div>
                    <div class="product__description">
                        Автоматизация обработки, учета и контроля движения документов в организации, совместная работа с документами
                    </div>
                    <div class="product__buy-wrapper">
                        <a href="#" class="product__buy js-popup">Купить от <strong class="product__price">36 000 ₽ </strong>→</a>
                    </div>
                </div>
            </div>
            <div class="product js-popup">
                <div class="product__img-wrapper">
                    <img src="img/product8.png" alt="" class="product__img">
                </div>
                <div class="product__text">
                    <div class="product__title">1С: CRM</div>
                    <div class="product__description">
                        Инструмент для управления сделками и эффективной работы с клиентами на протяжении всех этапов
                    </div>
                    <div class="product__buy-wrapper">
                        <a href="#" class="product__buy js-popup">Купить от <strong class="product__price">5 000 ₽ </strong>→</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="catch">
    <img src="img/catch-bg.svg" alt="" width="100%">
    <div class="catch__content">
        <p class="catch__text">
            Вы можете заказать бесплатную демонстрацию любого програмного продукта из каталога программ 1С:
        </p>
        <div class="catch__btn-wrapper text-center">
            <a href="#" class="btn js-popup">Заказать демонстрацию</a>
        </div>
    </div>

</section>

<section class="sell__info info">
    <div class="container">
        <div class="row info__row">
            <div class="info__img-wrapper">
            </div>
            <div class="info__text-wrapper">
                <p class="info__header">Как все установить и настроить? Лицензии
                    на платформу 1С:Предприятие 8 и Сервер 1С</p>
                <p>
                    Если вы только начинаете знакомство с продуктами Фирмы 1С, мы проконсультируем вас по вопросу инфраструктуры, необходимой для запуска программ 1С.
                </p>
            </div>
        </div>
        <div class="row info__row">
            <div class="info__img-wrapper">
                <img src="img/sell-info1.png" alt="" class="info__img">
            </div>
            <div class="info__text-wrapper">
                <p class="info__header">
                    Платформа 1С: Предприятие 8
                </p>
                <p>
                    Для запуска любой программы (конфигурации) 1С необходимо, чтобы на компьютере (сервере) была установлена Платформа 1С. Платформа 1С — это набор программных компонентов, на основе которых работает любая конфигурация 1С. Платформа 1С лицензируется по количеству пользователей 1С в организации. Таким образом, если вы еще не используете 1С, то вам будет необходимо приобрести лицензии на платформу 1С в соответствии с планируемым количеством пользователей. Для точного расчета стоимости клиентских лицензий, пожалуйста, обращайтесь к нашим менеджерам.
                </p>
            </div>
        </div>
        <div class="row info__row">
            <div class="info__img-wrapper">
                <!--img src="img/sell-info-3.png" alt="" class="info__img"-->
            </div>
            <div class="info__text-wrapper">
                <p class="info__header">
                    Сервер 1С
                </p>
                <p>Есть 2 базовых варианта запуска базы 1С:</p>
                <p>Файловая база. В этом случае база представляет собой набор файлов в папке на сервере. К этой папке предоставляется общий доступ для пользователей. Это самый простой вариант запуска, однако, он имеет ряд ограничений. При увеличении количества пользователей более 10-15 база может начать «тормозить», такую папку пользователь может просто скопировать или удалить, и т.д.</p>
                <p>База на сервере баз данных. В этом случае база 1С разворачивается на специальном сервере баз данных (в качестве СУБД  может выступать MSSQL или PostgreSQL). Такой вариант лишен недостатков файловой базы, и может успешно масштабироваться по количеству пользователей. Но в этом случае также потребуется лицензия на Сервер 1С.</p>
            </div>
        </div>
        <div class="row info__row">
            <div class="info__img-wrapper">
                <img src="img/sell-info-3.png" alt="" class="info__img">
            </div>
            <div class="info__text-wrapper">
                <p class="info__header">
                    Мы установим и настроим все под ключ!
                </p>
                <p>
                    Какой из этих вариантов подойдет именно вам — подскажут наши менеджеры. Кроме того, мы можем полностью под ключ развернуть для вас всю инфраструктуру 1С в облаке с профессиональным обслуживанием. Информацию об этой услуге можно получить на сайте IT направления нашей группы.
                </p>
                <br>
                <p><a href="#">Посмотреть услугу →</a></p>
            </div>
        </div>
    </div>
</section>

@@include('./templates/footer.tpl')