@@include('./templates/header.tpl')
<div class="support">
    <section class="content">
        <div class="content__header">
            <h1 class="content__title">Сопровождение и обслуживание
                программ 1С, ИТС</h1>
            <img src="img/mask-bottom.svg" alt="" class="content__mask hidden-mobile">
        </div>
    </section>

    <section class="support__steps-list steps-list">
        <div class="container">
            <div class="row">
                <div class="col col--6 steps-list__img-wrapper">
                    <img src="img/support.png" alt="" class="img-responsive hidden-mobile">
                    <img src="img/ysl-4-mob.png" alt="" class="img-responsive visible-mobile">
                </div>
                <div class="col col--6">
                    <div class="steps-list__description">
                        <p><strong>Качественное обслуживание после внедрения</strong> — гарантия эффективного и бесперебойного функционирования информационной системы.</p>

                        <p>Регулярное сопровождение и поддержка необходимы при использовании любой программы 1С. В комплекс этих услуг как правило входит:</p>
                    </div>
                    <ul class="steps-list__list unmarked-list">
                        <li class="unmarked-list__list-item unmarked-list__list-item--red">Обновление типовых и доработанных программ 1С;</li>
                        <li class="unmarked-list__list-item unmarked-list__list-item--red">Тестирование, исправление ошибок, устранение сбоев;</li>
                        <li class="unmarked-list__list-item unmarked-list__list-item--red">Консультирование и обучение пользователей;</li>
                        <li class="unmarked-list__list-item unmarked-list__list-item--red">Контроль производительности, администрирование серверов 1С.</li>
                    </ul>
                    <div class="steps-list__description">
                        <p><strong>От качества и оперативности сопровождения</strong> зависят важные аспекты бизнеса:</p>
                    </div>
                    <ul class="steps-list__list unmarked-list">
                        <li class="unmarked-list__list-item unmarked-list__list-item--red">Соответствие механизмов программы 1С действующему законодательству;</li>
                        <li class="unmarked-list__list-item unmarked-list__list-item--red">Своевременность подачи отчетности в контролирующие органы;</li>
                        <li class="unmarked-list__list-item unmarked-list__list-item--red">Возможность использование новейших разработок фирмы 1С;</li>
                        <li class="unmarked-list__list-item unmarked-list__list-item--red">Вероятность серьезных сбоев и безопасность данных;</li>
                        <li class="unmarked-list__list-item unmarked-list__list-item--red">Скорость работы программы 1С и решения бизнес-задач.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="support__profits profits">
        <div class="container">
            <div class="profits__title">
                Почему выгодно обслуживать 1C у нас?
            </div>
            <div class="profits__row">
                <div class="profits__profit">
                    <div class="profits__icon">
                        <img src="img/i-1.svg" alt="">
                    </div>
                    <div class="profits__text">
                        Вас сопровождает персональный менеджер, который всегда в курсе ситуации в вашем учете
                    </div>
                </div>
                <div class="profits__profit">
                    <div class="profits__icon">
                        <img src="img/i-2.svg" alt="">
                    </div>
                    <div class="profits__text">
                        Сопровождать 1С мы можем как дистанционно, так и с выездом специалиста при необходимости
                    </div>
                </div>
                <div class="profits__profit">
                    <div class="profits__icon">
                        <img src="img/i-3.svg" alt="">
                    </div>
                    <div class="profits__text">
                        Низкая стоимость часа специалиста с обязательной сертификацией 1С и опытом не менее 5 лет
                    </div>
                </div>
                <div class="profits__profit">
                    <div class="profits__icon">
                        <img src="img/i-4.svg" alt="">
                    </div>
                    <div class="profits__text">
                        Все заявки учитываются
                        в системе Helpdesk, время реагирования специалиста на заявку от 15 мин
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="support__price">
        <div class="container">
            <div class="support__price-title">
                Стоимость обслуживания программ 1С
            </div>
            <div class="support__price-subtitle">
                Стоимость абонементов с предоплаченным объемом работ:
            </div>
            <!--MOBILE TABLE-->
            <div class="carousel js-carousel visible-mobile">
                <table class="price">
                    <thead>
                        <tr>
                            <th>
                                Базовый
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p><strong>Количество часов</strong></p>
                                <p>10</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Ставка, ₽</strong></p>
                                <p>2500</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Стоимость, ₽/мес
                                </strong></p>
                                <p>25 000</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="price">
                    <thead>
                        <tr>
                            <th>
                                Стандартный
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p><strong>Количество часов</strong></p>
                                <p>20</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Ставка, ₽</strong></p>
                                <p>2400</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Стоимость, ₽/мес
                                </strong></p>
                                <p>48 000</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="price">
                    <thead>
                        <tr>
                            <th>
                                Сбалансированный
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p><strong>Количество часов</strong></p>
                                <p>40</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Ставка, ₽</strong></p>
                                <p>2300</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Стоимость, ₽/мес
                                </strong></p>
                                <p>92 000</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="price">
                    <thead>
                        <tr>
                            <th>
                                Корпоративный
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p><strong>Количество часов</strong></p>
                                <p>80</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Ставка, ₽</strong></p>
                                <p>2200</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Стоимость, ₽/мес
                                </strong></p>
                                <p>176 000</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="price">
                    <thead>
                        <tr>
                            <th>
                                Индивидуальный
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p><strong>Количество часов</strong></p>
                                <p>Определяет заказчик</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Ставка, ₽</strong></p>
                                <p>рассчитывает менеджер</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Стоимость, ₽/мес
                                </strong></p>
                                <p>рассчитывает менеджер</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--DESKTOP TABLE-->
            <table class="price table price--1  hidden-mobile">
                <thead>
                    <tr>
                        <th>Абонемент</th>
                        <th>Количество
                            часов</th>
                        <th>Ставка, ₽</th>
                        <th>Стоимость, ₽/мес</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Базовый</td>
                        <td>10</td>
                        <td>2500</td>
                        <td>25 000</td>
                    </tr>
                    <tr>
                        <td>Стандартный</td>
                        <td>20</td>
                        <td>2400</td>
                        <td>48 000</td>
                    </tr>
                    <tr>
                        <td>Сбалансированный</td>
                        <td>40</td>
                        <td>2300</td>
                        <td>92 000</td>
                    </tr>
                    <tr>
                        <td>Корпоративный</td>
                        <td>80</td>
                        <td>2200</td>
                        <td>176 000</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Индивидуальный</th>
                        <th colspan="3">Определяет заказчик — рассчитывает менеджер</th>
                    </tr>
                </tfoot>
            </table>

            <div class="space--100"></div>

            <div class="support__price-subtitle">
                <strong>Тариф «Гибкий»</strong> — сопровождение с постоплатой по фактическим трудозатратам:
            </div>
            <!--MOBILE TABLE-->
            <div class="carousel js-carousel visible-mobile">
                <table class="price">
                    <thead>
                    <tr>
                        <th>
                            Гибкий
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <p><strong>Количество часов от</strong></p>
                            <p>0</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>Количество часов до</strong></p>
                            <p>5</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>Ставка, ₽
                            </strong></p>
                            <p>2800</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="price">
                    <thead>
                    <tr>
                        <th>
                            Гибкий
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <p><strong>Количество часов от</strong></p>
                            <p>6</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>Количество часов до</strong></p>
                            <p>10</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>Ставка, ₽
                            </strong></p>
                            <p>2700</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="price">
                    <thead>
                    <tr>
                        <th>
                            Гибкий
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <p><strong>Количество часов от</strong></p>
                            <p>11</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>Количество часов до</strong></p>
                            <p>20</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>Ставка, ₽
                            </strong></p>
                            <p>2600</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="price">
                    <thead>
                    <tr>
                        <th>
                            Гибкий
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <p><strong>Количество часов от</strong></p>
                            <p>21</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>Количество часов до</strong></p>
                            <p>30</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>Ставка, ₽
                            </strong></p>
                            <p>2500</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="price">
                    <thead>
                    <tr>
                        <th>
                            Гибкий
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <p><strong>Количество часов от</strong></p>
                            <p>31</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>Количество часов до</strong></p>
                            <p>50</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>Ставка, ₽
                            </strong></p>
                            <p>2400</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="price">
                    <thead>
                    <tr>
                        <th>
                            Гибкий
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <p><strong>Количество часов от</strong></p>
                            <p>>51</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>Количество часов до</strong></p>
                            <p>∞</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>Ставка, ₽
                            </strong></p>
                            <p>2300</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--DESKTOP TABLE-->
            <table class="price table price--2 hidden-mobile">
                <thead>
                <tr>
                    <th>Количество
                        часов от</th>
                    <th>Количество
                        часов до</th>
                    <th>Ставка, ₽</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>0</td>
                        <td>5</td>
                        <td>2800</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>10</td>
                        <td>2700</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>20</td>
                        <td>2600</td>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td>30</td>
                        <td>2500</td>
                    </tr>
                    <tr>
                        <td>31</td>
                        <td>50</td>
                        <td>2400</td>
                    </tr>
                    <tr>
                        <td>>51</td>
                        <td>∞</td>
                        <td>2300</td>
                    </tr>
                </tbody>
            </table>
            <div class="space--50 text-center hidden-mobile">
                <a href="#callback" class="btn js-popup" data-title="Заказать обслуживание программы 1С">Заказать обслуживание программы 1С</a>
            </div>
        </div>
    </section>

    <section class="support__its-info its-info">
        <div class="container">
            <div class="its-info__title">
                Информационно-техническое сопровождение программ
            </div>
            <div class="its-info__text">
                <div class="paragraph">
                    <p>1C: ИТС — это комплексная поддержка, которую фирма «1С» совместно с партнерами оказывает пользователям программ</p>
                    <p>«1С: Предприятие». Комплекс услуг включает доступ к обновлениям и обновление программ 1С, консультации пользователей, а также доступ к другим сервисам 1С. Более подробную информацию, о том, что входит в 1С: ИТС можно получить
                        <a href="https://itbcloud.ru" target="_blank" class="black">на сайте ИТС.</a></p>
                </div>
                <div class="paragraph">
                    <p><strong>Почему необходимо приобретать 1С: ИТС?</strong></p>
                    <p>По партнерскому соглашению с фирмой «1С» фирма-франчайзи не имеет права оказывать услуги по 1С, если клиент не имеет подписки ИТС. Поэтому при работе с любым партнером фирмы «1С» необходимо будет оформить данную подписку.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="support__its its">
        <div class="container">
            <div class="its__title">
                Виды и стоимость подписки 1С: ИТС
            </div>
            <div class="its__types">
                <div class="its__type">
                    <div class="its__color its__color--black"></div>
                    <div class="its__type-text">При первичном заключении
                        договора ИТС:</div>
                </div>
                <div class="its__type">
                    <div class="its__color its__color--yellow"></div>
                    <div class="its__type-text">При непрерывном продлении
                        договора ИТС:</div>
                </div>
            </div>
            <div class="its__description visible-mobile">
                <strong>Рекомендованная розничная цена, ₽, включая НДС 20%</strong>
            </div>
            <div class="carousel js-carousel">
                <table class="price its__price price--its visible-mobile">
                    <thead>
                    <tr>
                        <th>
                            Вид договора:
                            ИТС ПРОФ
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <p><strong>1 месяц</strong></p>
                            <p>5 493 <span class="yellow">/ 4 577</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>3 месяца</strong></p>
                            <p>10 986<span class="yellow">/ 9 156</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>6 месяцев</strong></p>
                            <p>21 204 <span class="yellow">/ 17 670</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>12 месяцев</strong></p>
                            <p>40 572 <span class="yellow">/ 33 816</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>24 месяца</strong></p>
                            <p><span class="yellow">60 869</span></p>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <table class="price its__price price--its visible-mobile">
                    <thead>
                    <tr>
                        <th>
                            Вид договора:
                            ИТС Бюджет ПРОФ
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <p><strong>1 месяц</strong></p>
                            <p>5 493 <span class="yellow">/ 4 577</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>3 месяца</strong></p>
                            <p>10 986<span class="yellow">/ 9 156</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>6 месяцев</strong></p>
                            <p>21 204 <span class="yellow">/ 17 670</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>12 месяцев</strong></p>
                            <p>40 572 <span class="yellow">/ 33 816</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>24 месяца</strong></p>
                            <p><span class="yellow">60 869</span></p>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <table class="price its__price price--its visible-mobile">
                    <thead>
                    <tr>
                        <th>
                            Вид договора:
                            ИТС Строительство
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <p><strong>1 месяц</strong></p>
                            <p>—</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>3 месяца</strong></p>
                            <p>15 087<span class="yellow">/ 12 573</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>6 месяцев</strong></p>
                            <p>29 082 <span class="yellow">/ 24 234</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>12 месяцев</strong></p>
                            <p>55 836 <span class="yellow">/ 46 536</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>24 месяца</strong></p>
                            <p><span class="yellow">83 765</span></p>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <table class="price its__price price--its visible-mobile">
                    <thead>
                    <tr>
                        <th>
                            Вид договора:
                            ИТС Медицина
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <p><strong>1 месяц</strong></p>
                            <p>—</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>3 месяца</strong></p>
                            <p>—</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>6 месяцев</strong></p>
                            <p>23 262 <span class="yellow">/ 19 386</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>12 месяцев</strong></p>
                            <p>44 652 <span class="yellow">/ 37 212</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>24 месяца</strong></p>
                            <p><span class="yellow">66 982</span></p>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <table class="price its__price price--its visible-mobile">
                    <thead>
                    <tr>
                        <th>
                            Вид договора:
                            ИТС Ритейл ПРОФ
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <p><strong>1 месяц</strong></p>
                            <p>—</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>3 месяца</strong></p>
                            <p>12 339<span class="yellow">/ 10 284</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>6 месяцев</strong></p>
                            <p>23 820 <span class="yellow">/ 19 842</span></span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>12 месяцев</strong></p>
                            <p>45 588 <span class="yellow">/ 37 980</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>24 месяца</strong></p>
                            <p>—</p>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <table class="price its__price price--its visible-mobile">
                    <thead>
                    <tr>
                        <th>
                            Вид договора:
                            ИТС ТЕХНО
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <p><strong>1 месяц</strong></p>
                            <p>—</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>3 месяца</strong></p>
                            <p>—</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>6 месяцев</strong></p>
                            <p>8 952  <span class="yellow">/ 7 464</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>12 месяцев</strong></p>
                            <p>17 136 <span class="yellow">/ 14 280</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>24 месяца</strong></p>
                            <p>—</p>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <table class="price its__price price--its visible-mobile">
                    <thead>
                    <tr>
                        <th>
                            Вид договора:
                            ИТС БЮДЖЕТ
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <p><strong>1 месяц</strong></p>
                            <p>—</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>3 месяца</strong></p>
                            <p>—</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>6 месяцев</strong></p>
                            <p>10 164 <span class="yellow">/ 8 466</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>12 месяцев</strong></p>
                            <p>19 512 <span class="yellow">/ 16 248</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>24 месяца</strong></p>
                            <p>—</p>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <table class="price its__price price--its visible-mobile">
                    <thead>
                    <tr>
                        <th>
                            Вид договора:
                            ИТС Ритейл
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <p><strong>1 месяц</strong></p>
                            <p>—</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>3 месяца</strong></p>
                            <p>—</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>6 месяцев</strong></p>
                            <p>10 806 <span class="yellow">/ 9 006</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>12 месяцев</strong></p>
                            <p>20 688 <span class="yellow">/ 17 232</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>24 месяца</strong></p>
                            <p>—</p>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <table class="table price its__price price--its hidden-mobile">
                <thead>
                <tr>
                    <th colspan="6" style="text-align: right;padding-right: 163px">Рекомендованная розничная цена, ₽, включая НДС 20%</th>
                </tr>
                <tr>
                    <th>Вид договора ИТС</th>
                    <th>1 мес</th>
                    <th>3 мес</th>
                    <th>6 мес</th>
                    <th>12 мес</th>
                    <th>24 мес</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ИТС ПРОФ</td>
                        <td>5 493 <span class="yellow">/ 4 577</span></td>
                        <td>10 986<span class="yellow">/ 9 156</span></td>
                        <td>21 204 <span class="yellow">/ 17 670</span></td>
                        <td>40 572 <span class="yellow">/ 33 816</span></td>
                        <td class="yellow">60 869</td>
                    </tr>
                    <tr>
                        <td>ИТС Бюджет ПРОФ</td>
                        <td>5 493 <span class="yellow">/ 4 577</span></td>
                        <td>10 986<span class="yellow">/ 9 156</span></td>
                        <td>21 204 <span class="yellow">/ 17 670</span></td>
                        <td>40 572 <span class="yellow">/ 33 816</span></td>
                        <td class="yellow">60 869</td>
                    </tr>
                    <tr>
                        <td>ИТС Строительство</td>
                        <td>—</td>
                        <td>15 087<span class="yellow">/ 12 573</span></td>
                        <td>29 082 <span class="yellow">/ 24 234</span></td>
                        <td>55 836 <span class="yellow">/ 46 536</span></td>
                        <td class="yellow">83 765</td>
                    </tr>
                    <tr>
                        <td>ИТС Медицина</td>
                        <td>—</td>
                        <td>—</td>
                        <td>23 262 <span class="yellow">/ 19 386</span></td>
                        <td>44 652 <span class="yellow">/ 37 212</span></td>
                        <td class="yellow">66 982</td>

                    </tr>
                    <tr>
                        <td>ИТС Ритейл ПРОФ</td>
                        <td>—</td>
                        <td>12 339<span class="yellow">/ 10 284</span></td>
                        <td>23 820 <span class="yellow">/ 19 842</span></td>
                        <td>45 588 <span class="yellow">/ 37 980</span></td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <td>ИТС ТЕХНО</td>
                        <td>—</td>
                        <td>—</td>
                        <td>8 952  <span class="yellow">/ 7 464</span></td>
                        <td>17 136 <span class="yellow">/ 14 280</span></td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <td>ИТС БЮДЖЕТ</td>
                        <td>—</td>
                        <td>—</td>
                        <td>10 164 <span class="yellow">/ 8 466</span></td>
                        <td>19 512 <span class="yellow">/ 16 248</span></td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <td>ИТС Ритейл</td>
                        <td>—</td>
                        <td>—</td>
                        <td>10 806 <span class="yellow">/ 9 006</span></td>
                        <td>20 688 <span class="yellow">/ 17 232</span></td>
                        <td>—</td>
                    </tr>
                </tbody>
            </table>
            <div class="its__description">
                <p>Цены на 1С фиксированные и одинаковые для всех франчайзи.</p>
                <p>Ознакомиться с составом видов 1С:ИТС подробно можно на <a href="https://itbcloud.ru" target="_blank" class="black">сайте ИТС.</a></p>
            </div>
            <div class="its__btn-wrapper">
                <a href="#callback" class="btn js-popup" data-title="Закажите информационно-техническое сопровождение 1С">Заказать 1С: ИТС</a>
            </div>
        </div>
    </section>

</div>

@@include('./templates/footer.tpl')
