$white: #ffffff;
$black: #000;
$red: #d71921;
$hblue : #53b0ff;


$break-mobile: 767px;
$break-tablet: 1169px;

@mixin clearfix() {
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}

@mixin respond-to($media) {
    @if $media == not-mobile {
        @media only screen and (min-width: 768px) { @content; }
    }
    @if $media == mobile {
        @media only screen and (max-width: $break-mobile) { @content; }
    }
    @if $media == tablet {
        @media only screen and (min-width: 768px) and (max-width: $break-tablet) { @content; }
    }
    @if $media == desktop {
        @media only screen and (min-width: 1200px) { @content; }
    }
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.visible-mobile{
    @include respond-to(desktop){
        display: none !important;
    }
    @include respond-to(mobile){
        display: block ;
    }
}
.hidden-mobile{
    @include respond-to(mobile){
        display: none !important;
    }
}

*{
}
html {
    font-family: "Proxima Nova";
}
body{
    position: relative;
    background: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
}
section{
    width: 100%;
}
strong{
    font-weight: 400;
}
h1{
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    @include respond-to(mobile){
        font-size: 32px;
        font-weight: 400;
        line-height: 36px;
    }
}
h2{
    color: #000000;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    @include respond-to(mobile){
        font-size: 28px;
        font-weight: 400;
    }
}
h3{
    color: #000000;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}
a{
    text-decoration: none;
    color: #ffb800;
    outline: none !important;
    &:hover{
        color: #fa5800;
    }
    &:active{
        outline: none;
    }
    &.black{
        color: #000;
    }
}
.form {
    &__success{
        display: none;
    }
    &__group {
        margin: 11px 0;
        display: block;
        position: relative;
    }
    &__radio-input-b {
        &:last-child {
            margin-bottom : 0;
        }
    }
    &__input-text{
        width: 241px;
        height: 50px;
        padding: 10px 25px;
        border: 2px solid #dadada;
        background-color: #ffffff;
        font-size: 22px;
        box-sizing: border-box;
        &.valid {
            border: 2px solid #00a651;
        }
        &.error {
            border: 2px solid $red;
        }
        &:active, &:focus{
            border: 2px solid $hblue;
        }
        &::placeholder{
            color: #858585;
            font-size: 20px;
            font-weight: 300;
        }
    }
    &__textarea{
        width: 241px;
        height: 110px;
        padding: 10px 25px;
        border: 2px solid #dadada;
        background-color: #ffffff;
        &.valid {
            border: 2px solid #00a651;
        }
        &.error {
            border: 2px solid $red;
        }
        &:active, &:focus{
            border: 2px solid $hblue;
        }
        &::placeholder{
            color: #858585;
            font-size: 20px;
            font-weight: 300;
        }
    }
    &__radio-input-label {
        font-size : 18px;
        display : block;
        position : relative;
        padding-left : 24px;
        margin-bottom: 8px;
        color: #858585;
        font-weight: 300;
        cursor: pointer;
        &:before {
            cursor: pointer;
            position : absolute;
            left : 0;
            top : 2px;
            content : '';
            width : 8px;
            height : 8px;
            background : #f6f6f6;;
            border : 4px solid #e0e0e0;
            display : block;
            border-radius : 50%;
            transition : all 0.2s ease-out;
        }
    }
    &__radio-input {
        display : none;
        &:checked {
            & + .form__radio-input-label {
                color: #000;
                &:before {
                    cursor: pointer;
                    background : #fff;
                    border : 4px solid $red;
                }
            }
        }
    }

    // checkbox input
    &__checkbox-input-b {
        padding: 5px;
        border-radius: 3px;
        border: 1px solid transparent;

        &.valid {
            border: 1px solid #00a651;
        }
        &.error {
            border: 1px solid $red;
        }
    }
    &__checkbox-input-label {
        font-size: 18px;
        font-weight: 300;
        display : block;
        position : relative;
        padding-left : 24px;
        cursor: pointer;
        color: #858585;
        &:before {
            cursor: pointer;
            position : absolute;
            left : 0;
            top : 2px;
            content : '';
            width : 16px;
            height : 16px;
            background : #fff;
            border : 1px solid #c2c2c2;
            display : block;
            border-radius : 3px;
            transition : all 0.2s ease-out;
        }
        &--top {
            &:before {
                top: 0px;
            }
        }
        &--small {
            font-size: 14px;
        }
    }
    &__checkbox-input {
        display : none;
        &:checked {
            & + .form__checkbox-input-label {
                color: #000;
                &:before {

                    background : $red;
                    border-color : $red;
                }

            }
        }
    }

}
.btn{
    font-family: Proxima Nova;
    transition: 0.2s;
    box-shadow: 0 5px 49px rgba(248, 159, 44, 0.39);
    background-color: #d71921;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    padding: 0px 23px 0px 29px;
    border-radius: 37px;
    margin-top: 20px;
    display: inline-block;
    border: none;
    cursor: pointer;
    text-align: center;
    @include respond-to(mobile){
        padding: 0px 10px 0px 12px;
        font-size: 16px;
    }
    &:hover{
        box-shadow: 0 5px 49px rgba(248, 159, 44, 0.39);
        background-color: #f1161f;
        color: #fff;
    }
    &:active{
        box-shadow: 0 5px 49px rgba(248, 159, 44, 0.39);
        background-color: #d00710;
    }
}
.tabs {
    &__nav {
        font-size : 0;
        letter-spacing : 0;
        margin: 35px auto 65px;
        display: inline-block;
        @include respond-to(mobile){
            display: block;
        }
    }
    &__link {
        color: #c3c3c2;
        font-size: 18px;
        font-weight: 300;
        cursor : pointer;
        padding: 10px 15px;
        background: #fff;
        @include respond-to(mobile){
            margin-top: 6px;
        }
        &.active {
            padding: 13px 15px;
            color: #f4c038;
            box-shadow: 0 4px 15px #f1f1f1;
            @include respond-to(mobile){
                margin-top: 3px;
            }
        }
    }
    &__tab {
        @include clearfix();
        display : none;
        &-header{
            color: #000000;
            font-size: 22px;
            font-weight: 400;
            @include respond-to(mobile){
                padding: 15px 0 0 15px;
            }
        }
        &-text{
            padding: 10px 0;
            @include respond-to(mobile){
                padding: 10px;
            }
            p{
                color: #000000;
                font-size: 18px;
                font-weight: 300;
                line-height: 24px;
                margin: 5px 0;
            }
        }
        &-btn-wrapper{
            @include respond-to(mobile){
                padding: 10px 0 0 10px;
            }
        }
        &.active {
            display : block;
        }
    }
    &__items {
        &--pt {
            padding-top: 20px;
        }
    }
}
.container{
    position: relative;
    margin: 0 auto;
    @include respond-to(desktop){
        width: 1200px;
    }
    @include respond-to(mobile) {
        width: 100%;
    }
}
.row {
    @include clearfix();
}
.col{
    float: left;
    &--6{
        width: 50%;
        @include respond-to(mobile){
            width: 100%;
            float: none;
        }
    }
    &--4{
        width: 33.33%;
    }
    &--8{
        width: 66.67%;
    }
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.red{
    color: $red;
}
.img-responsive{
    display: inline-block;
    max-width: 100%;
}
@mixin icon-phone($color) {
    background-position: center center;
    background-repeat: no-repeat;
    background-color: $color;
    -webkit-mask-image: url(../img/icon-phone.svg);
    mask-image: url(../img/icon-phone.svg);

}
@mixin icon-mail($color) {
    background-position: center center;
    background-repeat: no-repeat;
    background-color: $color;
    -webkit-mask-image: url(../img/icon-mail.svg);
    mask-image: url(../img/icon-mail.svg);

}
.icon-mail{
    display: inline-block;
    margin: 0 5.5px;
    width: 32px;
    height: 32px;
    //background: url("../img/icon-mail.svg") center center no-repeat;
    &--white{
        @include icon-mail(#fff);
    }
    &--black{
        @include icon-mail(#000)
    }
}
.icon-phone{
    display: inline-block;
    margin: 0 5.5px;
    width: 32px;
    height: 32px;
    &--white{
        @include icon-phone(#fff);
    }
    &--black{
        @include icon-phone(#000)
    }

}
.icon-menu{
    @include respond-to(mobile){
        display: inline-block !important;
        margin: 5.5px;
        width: 26px;
        height: 19px;
        background: url("../img/icon-menu.svg") center center transparent;
    }
}
.icon-close{
    display: inline-block !important;
    margin: 3px 6.5px;
    width: 24px;
    height: 24px;
    background: url("../img/icon-close.svg") center center transparent;
}
.unmarked-list{
    &__list-item{
        position: relative;
        padding-left: 20px;
        font-size: 18px;
        font-weight: 300;
        margin: 10px 0;
        &--red{
            margin: 20px 0;
            &:before{
                color: red;
            }
        }
        &:before{
            content: "—";
            left: 0px;
            top: -1px;
            position: absolute;
        }
    }
}
.space{
    &--50{
        margin-top: 50px;
    }
    &--100{
        margin-top: 100px;
    }
}
.select2{
    width: 100% !important;
    margin-top: 30px;
    font-weight: 400;
    color: black;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #000;
    line-height: 46px;
}
.select2-container .select2-selection--single {
    border: 3px solid #e6e6e6;
    height: 50px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 48px;
    position: absolute;
    top: 1px;
    right: 10px;
    width: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #000 transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}
.slick-slide{
    margin: 15px;
}
.slick-current{
    margin-top: 0;
}